<h1 class="titulo-h1">ZONA CESAR SANTANDER</h1>
<p class="text-center mb-3">
  FONDO DE PASIVO SOCIAL DE FERROCARRILES NACIONALES DE COLOMBIA
</p>
<p class="text-center mb-3">RED BASICA DE IPS POR LOCALIDAD</p>
<p class="text-center mb-3">ZONA CESAR SANTANDER</p>
<div ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>BUCARAMANGA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h3 class="titulo-h3">
          MEDICINA GENERAL CONSULTA EXTERNA/ ÁREA METROPOLITANA DE BUCARAMANGA
        </h3>
        <h3 class="titulo-h3">Sumimedical</h3>
        <p>Calle 54 # 31-122</p>
        <p>
          Consulta externa de Medicina General, Consulta no programada
          (prioritaria), Medicina Familiar, Psiquiatría, Odontología General,
          Toma de Muestras de Laboratorio Clínico, Programa Crónicos, Promoción
          y Mantenimiento de la Salud, Servicio farmacéutico.
        </p>
        <p>
          Horario Lunes a viernes de 7 a.m. - 1 p.m. y 2 p.m. a 5 p.m. sábado de
          7 a.m. a 12 m
        </p>
        <ul>
          <li>
            Línea Telefónica exclusiva y WhatsApp para Asignación de citas:
            Medicina General y especializada (Medicina familiar y Psiquiatría),
            consulta no programada (Prioritaria), consultas de Programas:
            3226163778.
          </li>
          <li>
            XIOMARA LOPEZ BARAJAS:
            <a
              class="link-file p-0"
              href="mailto:atencionalusuario.santander@sumimedical.com"
              target="_blank"
              >{{ "atencionalusuario.santander@sumimedical.com" }}</a
            >, Línea telefónica y WhatsApp 3106676917
          </li>
          <li>
            JUAN FELIPE CALDERON:
            <a
              class="link-file p-0"
              href="mailto:gestiondesolicitudes.ferrocarrilessantander@sumimedical.com"
              target="_blank"
              >{{
                "gestiondesolicitudes.ferrocarrilessantander@sumimedical.com"
              }}</a
            >, Línea WhatsApp 3106676965
          </li>
        </ul>
        <h4 class="titulo-h4">Medico Coordinador</h4>
        <p>
          Dr. Juan Carlos Rodríguez<br />
          <a
            class="link-file p-0"
            href="mailto:subdireccion.nororiental@sumimedical.com"
            target="_blank"
            >{{ "subdireccion.nororiental@sumimedical.com" }}</a
          ><br />
          Teléfono: 3106676917
        </p>
        <h3 class="titulo-h3">
          Clinica Odontologica Bocas Y Boquitas S.a.s Piedecuesta
        </h3>
        <p>
          Dirección: CALLE 9 No.7 - 81 LOCAL 222<br />
          Teléfono 6555000
        </p>
        <h4 class="titulo-h4">Servicios</h4>
        <p>
          Consulta externa y Operatoria<br />
          Consulta Prioritaria
        </p>
        <h3 class="titulo-h3">Servicios de Urgencias</h3>
        <h4 class="titulo-h4">Clinica Chicamocha</h4>
        <p>
          Sede Calle 47 # 27A-22 Sede avenida La Rosita<br />
          Sede Avenida Gonzalez Valencia 55B-10
        </p>
        <h4 class="titulo-h4">Hospital Internacional De Colombia</h4>
        <p>
          Km 7 Autopista Bucaramanga - Piedecuesta Valle de Menzulí<br />
          PBX: (7) 6393936
        </p>
        <h4 class="titulo-h4">Clinica Maternoinfantil San Luis</h4>
        <p>
          Calle 48 # 25-56<br />
          Barrio Sotomayor<br />
          PBX: +57 7 6430026.
        </p>
        <h3 class="titulo-h3">Farmacias:</h3>
        <h4 class="titulo-h4">Sumimedical Sede Bucaramanga</h4>
        <p>
          Calle 54 # 31-122 Teléfono: 322 6163778 Horario: Lunes a Viernes 7 a.m
          - 1 p.m. y 2 p.m. - 5 p.m. Sábados 7 a.m. a 12 m.
        </p>
        <h4 class="titulo-h4">Pharmasan</h4>
        <p>
          Calle 53 # 35A-07 Bucaramanga<br />
          Horario: 07:00 a 14:00<br />
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>
        <h4 class="titulo-h4">Offimedicas.</h4>
        <p>
          Calle 35 # 24 - 28 barrio Centro de BUCARAMANGA, Tel.6973918 Ext
          6536<br />
          <a
            href="https://www.offimedicas.com/radique-su-formula"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://www.offimedicas.com/radique-su-formula</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>BARRANCABERMEJA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h3 class="titulo-h3">TRÁMITES ADMINISTRATIVOS BARRANCABERMEJA</h3>
        <p>
          MARIA ALEJANDRA SANCHEZ HERRERA<br />
          Cargo: atención al Usuario<br />
          <a
            class="link-file p-0"
            href="mailto:gestiondesolicitudes.lineadefrente3@sumimedical.com"
            target="_blank"
            >{{ "gestiondesolicitudes.lineadefrente3@sumimedical.com" }}</a
          ><br />
          Cel: 3115387354
        </p>
        <h3 class="titulo-h3">Integrar Soluciones en Salud IPS SAS</h3>
        <p>
          Dirección: DIAGONAL 56 # 15B -40 <br />
          Barrio Pueblo Nuevo<br />
          Teléfono: 607 6015188
        </p>
        <h4 class="titulo-h4">Servicios</h4>
        <ul>
          <li>Consulta Odontología</li>
          <li>Consulta de Medicina General</li>
          <li>Terapia Ocupacional</li>
          <li>Terapia Respiratoria</li>
          <li>Fisioterapia</li>
          <li>Fonoaudiología y/o Terapia del Lenguaje</li>
          <li>Toma de muestras de Cuello Uterino y Ginecológicas</li>
          <li>Enfermería</li>
          <li>Ginecobstetricia</li>
          <li>Medicina Familiar</li>
          <li>Medicina General</li>
          <li>Optometría</li>
          <li>Ortopedia y / o Traumatología</li>
          <li>Pediatría</li>
          <li>Psicología</li>
          <li>Hospitalización Paciente crónico sin ventilador</li>
        </ul>
        <h3 class="titulo-h3">Unidad Clinica La Magdalena</h3>
        <h4 class="titulo-h4">Servicios:</h4>
        <ul>
          <li>Consulta Medicina General</li>
          <li>Laboratorio clínico</li>
          <li>Imágenes diagnósticas</li>
          <li>Cirugía ambulatoria</li>
          <li>Urgencias</li>
          <li>Hospitalización</li>
        </ul>
        <p>
          UNIDAD CLINICA LA MAGDALENA<br />
          Calle 50 # 24-37, Barrancabermeja-Santander<br />
          (+57) (7) 6007000 - 6110809 - 6111982
        </p>
        <h4 class="titulo-h4">Imagenología ambulatoria</h4>
        <p>
          UNIDAD CLINICA LA MAGDALENA<br />
          Calle 50 # 24-37, Barrancabermeja-Santander<br />
          (+57) (7) 6007000 - 6110809 – 6111982
        </p>
        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          COLCAN<br />
          Dirección Avenida Ferrocarril Calle 52 # 19-35<br />
          Teléfono 3182268950-3153519082<br />
        </p>
        <p>
          UNIDAD CLINICA LA MAGDALENA <br />
          Calle 50 # 24-37, Barrancabermeja-Santander<br />
          (+57) (7) 6007000 - 6110809 – 6111982
        </p>
        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          UNIDAD CLINICA LA MAGDALENA<br />
          Calle 50 # 24-37, Barrancabermeja-Santander<br />
          (+57) (7) 6007000 - 6110809 - 6111982
        </p>
        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          UNIDAD CLINICA LA MAGDALENA<br />
          Calle 50 # 24-37, Barrancabermeja-Santander<br />
          (+57) (7) 6007000 - 6110809 - 6111982
        </p>
        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN BARRANCABERMEJA<br />
          Calle 49 # 19-82 Local 1 Barrio Colombia<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>
        <p>
          OFFIMEDICAS Barrancabermeja.<br />
          CALLE 49 # 21-56 Barrio COLOMBIA<br />
          tel.6973918 Ext 6504<br />
          Servicio Solicitud:
          <a
            href="https://www.offimedicas.com/radique-su-formula"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://www.offimedicas.com/radique-su-formula</a
          >
        </p>
        <h4 class="titulo-h4">Odontología</h4>
        <p>
          INTEGRAR SOLUCIONES EN SALUD IPS SAS<br />
          Dirección: DIAGONAL 56 # 15B -40 <br />
          Barrio Pueblo Nuevo<br />
          Telefono 607 6015188<br />
          CLINICA SAN JOSÉ<br />
          CL 47 No. 28-05, Barrancabermeja-Santander<br />
          6024545
        </p>
        <b>Servicios:</b>
        <ul>
          <li>Odontología general</li>
          <li>Laboratorio clínico</li>
          <li>Radiología e imágenes diagnósticas</li>
          <li>Toma de muestras de laboratorio clínico</li>
          <li>Transfusión sanguínea</li>
          <li>Ultrasonido</li>
          <li>Terapia ocupacional</li>
          <li>Terapia respiratoria</li>
          <li>Fisioterapia</li>
          <li>Fonoaudiología y/o terapia del lenguaje</li>
          <li>Anestesia</li>
          <li>Cardiología</li>
          <li>Cirugía general</li>
          <li>Dermatología</li>
          <li>Enfermería</li>
          <li>Gastroenterología</li>
          <li>Ginecobstetricia</li>
          <li>Medicina familiar</li>
          <li>Medicina general</li>
          <li>Medicina interna</li>
          <li>Nutrición y dietética</li>
          <li>Ortopedia y/o traumatología</li>
          <li>Otorrinolaringología</li>
          <li>Pediatría</li>
          <li>Psicología</li>
          <li>Psiquiatría</li>
          <li>Urología</li>
          <li>Consulta prioritaria</li>
          <li>Cirugía plástica y estética</li>
          <li>Medicina del trabajo y medicina laboral</li>
          <li>Cirugía oral</li>
          <li>Cirugía maxilofacial</li>
          <li>Cirugía general</li>
          <li>Cirugía ginecológica</li>
          <li>Cirugía maxilofacial</li>
          <li>Cirugía ortopédica</li>
          <li>Cirugía oftalmológica</li>
          <li>Cirugía otorrinolaringología</li>
          <li>Cirugía plástica y estética</li>
          <li>Cirugía urológica</li>
          <li>Cirugía dermatológica</li>
        </ul>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>SAN GIL</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <p>E.s.e. Hospital Regional De San Gil</p>
        <h4 class="titulo-h4">Servicios:</h4>
        <ul>
          <li>Medicina general</li>
          <li>Consulta prioritaria</li>
          <li>Servicio de urgencias</li>
          <li>Hospitalización</li>
          <li>Laboratorio clínico</li>
          <li>Radiología e imágenes diagnósticas</li>
          <li>Toma de muestras de laboratorio clínico</li>
          <li>Ultrasonido</li>
          <li>Terapia ocupacional</li>
          <li>Terapia respiratoria</li>
          <li>Fisioterapia</li>
          <li>Fonoaudiología y/o terapia del lenguaje</li>
          <li>Anestesia</li>
          <li>Cirugía general</li>
          <li>Cirugía pediátrica</li>
          <li>Dermatología</li>
          <li>Enfermería</li>
          <li>Ginecobstetricia</li>
          <li>Medicina interna</li>
          <li>Nutrición y dietética</li>
          <li>Odontología general</li>
          <li>Oftalmología</li>
          <li>Optometría</li>
          <li>Ortopedia y/o traumatología</li>
          <li>Otorrinolaringología</li>
          <li>Pediatría</li>
          <li>Psicología</li>
          <li>Urología</li>
          <li>Cirugía maxilofacial</li>
          <li>Promoción y prevención</li>
          <li>Vacunación</li>
        </ul>
        <h4 class="titulo-h4">Consulta externa de Medicina General</h4>
        <p>
          E.s.e. Hospital Regional De San Gil<br />
          Dirección: Carrera 5 No 9-102<br />
          Teléfono 7243556
        </p>
        <p>
          Clínica Santa Cruz De La Loma S.a<br />
          Dirección: CALLE 12 12 20<br />
          Teléfono 7242100
        </p>
        <h4 class="titulo-h4">Laboratorio clínico Imagenologia</h4>
        <p>
          E.s.e. Hospital Regional De San Gil<br />
          Dirección: Carrera 5 No 9-102<br />
          Teléfono 7243556
        </p>
        <p>
          Clínica Santa Cruz De La Loma S.a <br />
          Dirección: CALLE 12 12 20<br />
          Teléfono 7242100
        </p>
        <h4 class="titulo-h4">Odontología</h4>
        <p>
          E.s.e. Hospital Regional De San Gil<br />
          Dirección: Carrera 5 No 9-102<br />
          Teléfono 7243556
        </p>
        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          E.s.e. Hospital Regional De San Gil<br />
          Carrera 5 No 9-102<br />
          Teléfono 7243556
        </p>
        <p>
          Clínica Santa Cruz De La Loma S.a <br />
          Dirección: CALLE 12 12 20<br />
          Teléfono 7242100
        </p>
        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          E.s.e. Hospital Regional De San Gil<br />
          Carrera 5 No 9-102<br />
          Teléfono 7243556
        </p>
        <p>
          Clínica Santa Cruz De La Loma S.a<br />
          Dirección: CALLE 12 12 20<br />
          Teléfono 7242100
        </p>
        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>
        <p>En este momento no existe punto físico por remodelación</p>
        <p>
          FORPRESALUD<br />
          Calle 14 # 9-36 San Gil<br />
          Lunes a Viernes 7:00 am a 6:00 pm<br />
          Sábado 08:00 am a 11:00 am<br />
          Teléfono 3144518696
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>SABANA DE TORRES</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">Consulta externa de Medicina General</h4>
        <p>
          E.S.E. HOSPITAL INTEGRADO SABANA DE TORRES <br />
          Calle 14 No. 9 - 50. Barrio Carvajal<br />
          Contacto: (7)6293347 – 3187352535
        </p>
        <b>SERVICIOS:</b>
        <ul>
          <li>Medicina general</li>
          <li>Laboratorio clínico</li>
          <li>Odontología general</li>
          <li>Radiología e imágenes diagnósticas</li>
          <li>Toma de muestras de laboratorio clínico</li>
          <li>Enfermería</li>
          <li>Ginecobstetricia</li>
          <li>Medicina interna</li>
          <li>Nutrición y dietética</li>
          <li>Odontología general</li>
          <li>Pediatría</li>
          <li>Psicología</li>
          <li>Consulta prioritaria</li>
          <li>Hospitalización</li>
          <li>Vacunación</li>
          <li>Servicio de urgencias</li>
        </ul>

        <p>
          CENTRO CLÍNICO CARVAJAL LTDA<br />
          Direccion: CL 14 No 9 – 90<br />
          Tel. 6293256 – 6293075
        </p>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          E.S.E. HOSPITAL INTEGRADO SABANA DE TORRES<br />
          Calle 14 No. 9 - 50. Barrio Carvajal<br />
          Contacto: (7)6293347 – 3187352535
        </p>
        <p>
          CENTRO CLÍNICO CARVAJAL LTDA<br />
          Dirección: CL 14 No 9 – 90<br />
          Tel. 6293256 - 6293075
        </p>

        <h4 class="titulo-h4">Odontología</h4>
        <p>
          E.S.E. HOSPITAL INTEGRADO SABANA DE TORRES<br />
          Calle 14 No. 9 - 50. Barrio Carvajal<br />
          Contacto: (7)6293347 – 3187352535
        </p>
        <p>
          CENTRO CLÍNICO CARVAJAL LTDA<br />
          Dirección: CL 14 No 9 – 90<br />
          Tel. 6293256 - 6293075
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          E.S.E. HOSPITAL INTEGRADO SABANA DE TORRES<br />
          Calle 14 No. 9 - 50. Barrio Carvajal<br />
          Contacto: (7)6293347 – 3187352535
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          E.S.E. HOSPITAL INTEGRADO SABANA DE TORRES<br />
          Calle 14 No. 9 - 50. Barrio Carvajal<br />
          Contacto: (7)6293347 – 3187352535
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          OFFIMEDICAS<br />
          CRA 12 NO. 15 - 24 LOCAL 7 Y 8<br />
          6433414 ext. 170.<br />
          Servicio a Domicilio al link:
          <a
            href="https://www.offimedicas.com/radique-su-formula"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://www.offimedicas.com/radique-su-formula</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>PUERTO WILCHES</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <p>
          SALUDMAG IPS S.A.S. (Salud Diagnostica SAS)<br />
          CALLE 4 C 10 29<br />
          3116743989
        </p>
        <h4 class="titulo-h4">Servicios</h4>
        <ul>
          <li>Consulta Medicina General</li>
          <li>Consulta Prioritaria Medicina General</li>
          <li>
            Consulta Especialidades Básicas (Ginecología – Medicina Interna –
            Pediatría)
          </li>
          <li>Promoción, Prevención y Mantenimiento de la salud</li>
          <li>Odontología General</li>
          <li>Laboratorio Clínico</li>
        </ul>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          E.S.E Edmundo German Arias Duarte<br />
          Cra 3 N° 2 - 56, Puerto Wilches, Santander
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          E.S.E Edmundo German Arias Duarte<br />
          Cra 3 N° 2 - 56, Puerto Wilches, Santander
        </p>
        <p>
          CLINICA SAN JOSÉ<br />
          CL 47 No. 28-05, Barrancabermeja-Santander<br />
          6024545
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          <b>OFFIMEDICAS</b><br />
          CALLE 6 # 3-26 BARRIO CENTRO<br />
          6433414 ext. 170<br />
          Servicio a Domicilio al link:
          <a
            href="https://www.offimedicas.com/radique-su-formula"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i>
            https://www.offimedicas.com/radique-su-formula</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>CUCUTA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h3 class="titulo-h3">Consulta externa</h3>
        <h4 class="titulo-h4">NORDVITAL IPS SAS</h4>
        <p>
          Calle 14ª #2E-86<br />
          Tel 5741618
        </p>
        <h4 class="titulo-h4">Servicios primer Nivel:</h4>
        <ul>
          <li>Medicina General</li>
          <li>Odontología</li>
          <li>Enfermería</li>
          <li>
            Programas de Promoción y Mantenimiento de la Salud, Vacunación
          </li>
          <li>Laboratorio Clínico</li>
          <li>Optometría y servicios de Óptica</li>
        </ul>
        <h4 class="titulo-h4">Servicios de Segundo y Tercer nivel:</h4>
        <ul>
          <li>Ayudas terapéuticas incluyendo Fisioterapia</li>
          <li>Rehabilitación</li>
          <li>Fonoaudiología</li>
          <li>Psicología</li>
          <li>Nutrición</li>
          <li>Medicina Interna</li>
          <li>Medicina Familiar</li>
          <li>Gineco-Obstetricia</li>
          <li>Pediatría</li>
          <li>Cirugía General</li>
          <li>Ortopedia</li>
          <li>Oftalmología</li>
          <li>Otorrinolaringología</li>
          <li>Neumología</li>
          <li>Cardiología</li>
          <li>Gastroenterología</li>
          <li>Dermatología</li>
          <li>Cirugía Plástica</li>
        </ul>
        <h4 class="titulo-h4">Otras ayudas Diagnosticas:</h4>
        <ul>
          <li>EKG</li>
          <li>Ecocardiograma</li>
          <li>Holter de Tensión Arterial</li>
          <li>Prueba de Esfuerzo</li>
          <li>Ecografía General y Obstétrica</li>
        </ul>

        <h3 class="titulo-h3">Laboratorio clínico</h3>
        <p>
          CLINICA NORTE S.A.<br />
          AV 1 Nº 18-11 BARRIO BLANCO<br />
          5828222
        </p>

        <h3 class="titulo-h3">Farmacia</h3>
        <h4 class="titulo-h4">PHAMARSAN</h4>
        <p>
          Calle 8 # 1E - 125 Barrio Popular<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>

        <h3 class="titulo-h3">Odontología</h3>
        <h4 class="titulo-h4">NORDVITAL IPS SAS</h4>
        <p>
          Calle 14ª #2E-86<br />
          Tel 5741618
        </p>
        <h4 class="titulo-h4">ODONTOCUCUTA SA</h4>
        <p>
          Dirección Avenida 3E # 13ª-07 Caobos<br />
          Telefono 5713966
        </p>
        <h4 class="titulo-h4">INES LILIANA OSORIO PEREZ</h4>
        <p>
          Dirección Cale 13 # 1E-44 Consultorio 207B<br />
          Telefono 5886724-3138545064
        </p>

        <h3 class="titulo-h3">Urgencias</h3>
        <h4 class="titulo-h4">CLINICA NORTE SA</h4>
        <p>
          Dirección Avenida 1 # 18-11 Barrio Blanco<br />
          Telefono 5828222
        </p>

        <h3 class="titulo-h3">Hospitalización</h3>
        <h4 class="titulo-h4">CLINICA NORTE SA</h4>
        <p>
          Dirección Avenida 1 # 18-11 Barrio Blanco<br />
          Telefono 5828222
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>PAMPLONA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">Consulta Externa de Medicina General</h4>
        <p>
          ESE HOSPITAL SAN JUAN DE DIOS DE PAMPLONA<br />
          CARRERA 9 No 5-01 BARRIO URSUA<br />
          TELÉFONO: 5682486
        </p>
        <b>SERVICIOS:</b>
        <ul>
          <li>medicina general</li>
          <li>laboratorio clínico</li>
          <li>radiología e imágenes diagnosticas</li>
          <li>terapia ocupacional</li>
          <li>terapia respiratoria</li>
          <li>fisioterapia</li>
          <li>fonoaudiología y/o terapia del lenguaje</li>
          <li>anestesia</li>
          <li>cirugía general</li>
          <li>enfermería</li>
          <li>ginecobstetricia</li>
          <li>medicina general</li>
          <li>medicina interna</li>
          <li>nutrición y dietética</li>
          <li>odontología general</li>
          <li>pediatría</li>
          <li>psicología</li>
          <li>hospitalización</li>
          <li>servicio de urgencias</li>
        </ul>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          ESE HOSPITAL SAN JUAN DE DIOS DE PAMPLONA<br />
          CARRERA 9 No 5-01 BARRIO URSUA<br />
          TELÉFONO: 5682486
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN PAMPLONA<br />
          CALLE 6A # 7-43 PARQUE SANTA INÉS BARRIO CENTRO<br />
          HORARIO: 07:00 A 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>

        <h4 class="titulo-h4">Odontología</h4>
        <p>
          ESE HOSPITAL SAN JUAN DE DIOS DE PAMPLONA<br />
          CARRERA 9 No 5-01 BARRIO URSUA<br />
          TELÉFONO: 5682486
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          ESE HOSPITAL SAN JUAN DE DIOS DE PAMPLONA<br />
          CARRERA 9 No 5-01 BARRIO URSUA<br />
          TELÉFONO: 5682486
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          ESE HOSPITAL SAN JUAN DE DIOS DE PAMPLONA<br />
          CARRERA 9 No 5-01 BARRIO URSUA<br />
          TELÉFONO: 5682486
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>AGUACHICA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h3 class="titulo-h3">
          TRÁMITES ADMINISTRATIVOS AGUACHICA Y SUR DEL CESAR
        </h3>
        <p>
          MARIA ALEJANDRA SANCHEZ HERRERA, Atención al usuario Sur del Cesar<br />
          Calle 5 # 33 - 31 Barrio Alto Prado<br />
          Correo Electrónico:
          <a
            class="link-file p-0"
            href="mailto:gestiondesolicitudes.aguachica@sumimedical.com"
            target="_blank"
            >{{ "gestiondesolicitudes.aguachica@sumimedical.com" }}</a
          ><br />
          Teléfono: 3115387354
        </p>

        <h3 class="titulo-h3">
          IPS SERVICIOS MEDICOS ESPECIALIZADOS PREVENIR IPS S.A.S
        </h3>
        <p>
          Dirección: Carrera 32 # 2-36 Barrio Maria Eugenia<br />
          Teléfono: 3163861597
        </p>
        <h3 class="titulo-h3">Servicios</h3>
        <ul>
          <li>Medicina general</li>
          <li>Laboratorio clínico</li>
          <li>Toma muestras de laboratorio</li>
          <li>Fisioterapia</li>
          <li>Dermatología</li>
          <li>Gastroenterología</li>
          <li>Ginecobstetricia</li>
          <li>Medicina interna</li>
          <li>Odontología general</li>
          <li>Optometría</li>
          <li>Otorrinolaringología</li>
          <li>Urología</li>
          <li>Nutrición y dietética</li>
          <li>Psicología</li>
        </ul>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <h3 class="titulo-h3">
          IPS SERVICIOS MEDICOS ESPECIALIZADOS PREVENIR IPS S.A.S
        </h3>
        <p>
          Dirección: Carrera 32 # 2-36 Barrio Maria Eugenia<br />
          Teléfono: 3163861597
        </p>
        <ul>
          <li>Laboratorio clínico</li>
          <li>Toma muestras de laboratorio</li>
        </ul>

        <h4 class="titulo-h4">Odontología</h4>
        <h3 class="titulo-h3">
          IPS SERVICIOS MEDICOS ESPECIALIZADOS PREVENIR IPS S.A.S
        </h3>
        <p>
          Dirección: Carrera 32 # 2-36 Barrio Maria Eugenia<br />
          Teléfono: 3163861597
        </p>
        <ul>
          <li>Odontología general</li>
        </ul>
        <h4 class="titulo-h4">Vacunación</h4>
        <p>
          ESE HOSPITAL LOCAL DE AGUACHICA<br />
          Dirección: Carrera 7 # 160 - 56 Tel.: 605 5651854 / 605 565 6839
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          HOSPITAL REGIONAL JOSE DAVID PADILLA VILLAFAÑE<br />
          Calle 5 No.30ª-56<br />
          Teléfono: 605 5654854 / 605 5658522<br />
          Servicio de: Cirugía general, gastroenterología, ortopedia y/o
          traumatología se atiende en: HOSPITAL REGIONAL DE AGUACHICA JOSE DAVID
          PADILLA VILLAFAÑE<br />
          Dirección: Calle 5 # 30 A - 56 Tel.: 605 5654854 / 605 5658522
        </p>
        <p>
          CLINICA INTEGRAL DEL SUR S.A.S. ZOMAC<br />
          CALLE 3 19 51<br />
          Teléfono 3103250660
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          HOSPITAL REGIONAL JOSE DAVID PADILLA VILLAFAÑE<br />
          Calle 5 No.30ª-56 Teléfono: 605 5654854 / 605 5658522
        </p>
        <p>
          CLINICA ALTA COMPLEJIDAD DE AGUACHICA S.A.S.<br />
          Calle 5 No 26-42<br />
          Teléfono: 323480163
        </p>
        <ul>
          <li>FONOAUDIOLOGÍA Y/O TERAPIA DEL LENGUAJE</li>
          <li>IMÁGENES DIAGNOSTICAS - IONIZANTES</li>
          <li>IMÁGENES DIAGNOSTICAS - NO IONIZANTES</li>
          <li>LABORATORIO CLÍNICO</li>
          <li>SERVICIO FARMACÉUTICO</li>
          <li>TERAPIA RESPIRATORIA</li>
          <li>FISIOTERAPIA</li>
          <li>GESTION PRE-TRANSFUSIONAL</li>
          <li>HEMODINAMIA E INTERVENCIONISMO</li>
          <li>HEMODIÁLISIS</li>
          <li>DIAGNÓSTICO VASCULAR</li>
          <li>TRANSPORTE ASISTENCIAL MEDICALIZADO</li>
          <li>URGENCIAS</li>
          <li>ATENCIÓN DEL PARTO</li>
          <li>ORTOPEDIA PEDIÁTRICA</li>
          <li>NEUROPEDIATRÍA</li>
          <li>NEUROCIRUGÍA</li>
          <li>NEFROLOGÍA PEDIÁTRICA</li>
          <li>CIRUGÍA DE TÓRAX</li>
          <li>CIRUGÍA DE CABEZA Y CUELLO</li>
          <li>UROLOGÍA</li>
          <li>REUMATOLOGÍA</li>
          <li>OTORRINOLARINGOLOGÍA</li>
          <li>OFTALMOLOGÍA</li>
          <li>NUTRICIÓN Y DIETÉTICA</li>
          <li>NEUROLOGÍA</li>
          <li>NEUMOLOGÍA</li>
          <li>NEFROLOGÍA</li>
          <li>HEMATOLOGÍA</li>
          <li>DOLOR Y CUIDADOS PALIATIVOS</li>
          <li>CIRUGÍA PEDIÁTRICA</li>
          <li>VACUNACIÓN</li>
          <li>ANESTESIA</li>
          <li>CARDIOLOGÍA PEDIÁTRICA</li>
          <li>GASTROENTEROLOGÍA</li>
          <li>DERMATOLOGÍA</li>
          <li>PEDIATRÍA</li>
          <li>ORTOPEDIA Y/O TRAUMATOLOGÍA</li>
          <li>MEDICINA INTERNA</li>
          <li>GINECOBSTETRICIA</li>
          <li>CIRUGÍA GENERAL</li>
          <li>CARDIOLOGÍA</li>
          <li>CUIDADO INTENSIVO ADULTOS</li>
          <li>CUIDADO INTENSIVO PEDIÁTRICO</li>
          <li>CUIDADO INTENSIVO NEONATAL</li>
          <li>HOSPITALIZACIÓN PEDIÁTRICA</li>
          <li>HOSPITALIZACIÓN ADULTOS</li>
          <li>CUIDADO BÁSICO NEONATAL</li>
          <li>CUIDADO INTERMEDIO ADULTOS</li>
          <li>CUIDADO INTERMEDIO PEDIÁTRICO</li>
          <li>CUIDADO INTERMEDIO NEONATAL</li>
          <li>CIRUGÍA GINECOLÓGICA</li>
          <li>CIRUGÍA PLÁSTICA Y ESTÉTICA</li>
          <li>CIRUGÍA VASCULAR Y ANGIOLÓGICA</li>
          <li>CIRUGÍA DE CABEZA Y CUELLO</li>
          <li>CIRUGÍA CARDIOVASCULAR</li>
          <li>CIRUGÍA OFTALMOLÓGICA</li>
          <li>CIRUGÍA OTORRINOLARINGOLOGÍA</li>
          <li>CIRUGÍA PEDIÁTRICA</li>
          <li>CIRUGÍA UROLÓGICA</li>
          <li>CIRUGÍA DERMATOLÓGICA</li>
          <li>CIRUGÍA DE TÓRAX</li>
          <li>NEUROCIRUGÍA</li>
          <li>CIRUGÍA ORTOPÉDICA</li>
          <li>CIRUGÍA MAXILOFACIAL</li>
          <li>CIRUGÍA GENERAL</li>
        </ul>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN<br />
          Carrera 13 # 3-38 Barrio Centro<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i
            >https://solicitudes.pharmasan.net/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>PAILITAS</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">Consulta externa de Medicina General</h4>
        <b>E.s.e Hospital Heli Moreno Blanco</b>
        <p>
          E.S.E Hospital Heli Moreno Blanco<br />
          Calle 7B No. 5 - 123<br />
          Teléfono 5287003 - 5287183 -5287491
        </p>
        <ul>
          <li>medicina general</li>
          <li>laboratorio clínico</li>
          <li>radiología e imágenes diagnosticas</li>
          <li>toma de muestras de laboratorio clínico</li>
          <li>terapia respiratoria</li>
          <li>enfermería</li>
          <li>odontología general</li>
          <li>consulta prioritaria</li>
          <li>hospitalización</li>
          <li>vacunación</li>
          <li>servicio de urgencias</li>
        </ul>

        <h4 class="titulo-h4">Consulta externa de Odontología</h4>
        <p>
          E.S.E Hospital Heli Moreno Blanco<br />
          Calle 7B No. 5 - 123<br />
          Teléfono 5287003 - 5287183 -5287491
        </p>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          E.S.E Hospital Heli Moreno Blanco<br />
          Calle 7B No. 5 - 123<br />
          Teléfono 5287003 - 5287183 -5287491
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          E.S.E Hospital Heli Moreno Blanco<br />
          Calle 7B No. 5 - 123<br />
          Teléfono 5287003 - 5287183 -5287491
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          E.S.E Hospital Heli Moreno Blanco<br />
          Calle 7B No. 5 - 123<br />
          Teléfono 5287183-5287491
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN PAILITAS<br />
          Calle 7 # 5A-33 Barrio Pueblo Nuevo<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i>
            https://solicitudes.pharmasan.net/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>PELAYA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">ESE LOCAL Hospital Francisco Canossa</h4>
        <p>
          Hospital Francisco Canossa<br />
          Calle 10 No. 10 – 75<br />
          Teléfono : 5290025
        </p>
        <b>SERVICIOS:</b>
        <ul>
          <li>Medicina general</li>
          <li>Odontología general</li>
          <li>Laboratorio clínico</li>
          <li>Enfermería</li>
          <li>Nutrición y dietética</li>
          <li>Psicología</li>
          <li>Consulta prioritaria</li>
          <li>Hospitalización</li>
          <li>Vacunación</li>
          <li>Promoción y prevención</li>
          <li>Servicio de urgencias</li>
        </ul>

        <h4 class="titulo-h4">Odontología</h4>
        <p>
          HOSPITAL FRANCISCO CANOSSA<br />
          CALLE 10 No. 10 – 75<br />
          TELÉFONO : 5290025
        </p>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          HOSPITAL FRANCISCO CANOSSA<br />
          CALLE 10 No. 10 – 75<br />
          TELÉFONO : 5290025
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          HOSPITAL FRANCISCO CANOSSA<br />
          CALLE 10 No. 10 – 75<br />
          TELÉFONO : 5290025
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          HOSPITAL FRANCISCO CANOSSA<br />
          CALLE 10 No. 10 – 75<br />
          TELÉFONO : 5290025
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN PELAYA<br />
          Calle 8 # 9-67 Local 2 Barrio San Bernardo<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i>
            https://solicitudes.pharmasan.net/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>GAMARRA</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">Consulta externa de medicina general</h4>
        <p>
          ESE HOSPITAL OLAYA HERRERA<br />
          Carrera 12 No. 8 - 44 Barrio San Jose <br />
          Teléfono 5626288-5651573-3172458489 <br />
          <a
            class="link-file p-0"
            href="mailto:contactenos@hospitalgamarra-cesar.gov.co"
            target="_blank"
            >{{ "contactenos@hospitalgamarra-cesar.gov.co" }}</a
          >
        </p>
        <b>SERVICIOS:</b>
        <ul>
          <li>Laboratorio clínico</li>
          <li>Radiología e imágenes diagnósticas</li>
          <li>Toma de muestras de laboratorio clínico</li>
          <li>Terapia respiratoria</li>
          <li>Enfermería</li>
          <li>Medicina general</li>
          <li>Nutrición y dietética</li>
          <li>Odontología general</li>
          <li>Psicología</li>
          <li>Hospitalización</li>
          <li>Promoción y prevención</li>
          <li>Vacunación</li>
          <li>Servicio de urgencias</li>
        </ul>

        <h4 class="titulo-h4">Consulta externa de odontología</h4>
        <p>
          Hospital Olaya Herrera <br />
          Carrera 12 No. 8 - 44 Barrio San Jose <br />
          Teléfono 5626288-5651573-3172458489 <br />
          <a
            class="link-file p-0"
            href="mailto:contactenos@hospitalgamarra-cesar.gov.co"
            target="_blank"
            >{{ "contactenos@hospitalgamarra-cesar.gov.co" }}</a
          >
        </p>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          Hospital Olaya Herrera <br />
          Carrera 12 No. 8 - 44 Barrio San Jose <br />
          Teléfono 5626288-5651573-3172458489 <br />
          <a
            class="link-file p-0"
            href="mailto:contactenos@hospitalgamarra-cesar.gov.co"
            target="_blank"
            >{{ "contactenos@hospitalgamarra-cesar.gov.co" }}</a
          >
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          Hospital Olaya Herrera <br />
          Carrera 12 No. 8 - 44 Barrio San Jose <br />
          Teléfono 5626288-5651573-3172458489 <br />
          <a
            class="link-file p-0"
            href="mailto:contactenos@hospitalgamarra-cesar.gov.co"
            target="_blank"
            >{{ "contactenos@hospitalgamarra-cesar.gov.co" }}</a
          >
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          Hospital Olaya Herrera <br />
          Carrera 12 No. 8 - 44 Barrio San Jose <br />
          Teléfono 5626288-5651573-3172458489 <br />
          <a
            class="link-file p-0"
            href="mailto:contactenos@hospitalgamarra-cesar.gov.co"
            target="_blank"
            >{{ "contactenos@hospitalgamarra-cesar.gov.co" }}</a
          >
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN<br />
          Calle 9 # 11-72 Local 1 Barrio San José<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i>
            https://solicitudes.pharmasan.net/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>TAMALAMEQUE</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <h4 class="titulo-h4">Medicina general</h4>
        <p>
          ESE HOSPITAL TAMALAMEQUE<br />
          Calle 5 carrera 7 y 8<br />
          Teléfono Conmutador: 0355286005<br />
          Teléfono móvil: 3008856731
        </p>
        <h4 class="titulo-h4">Servicios</h4>
        <ul>
          <li>Medicina general</li>
          <li>Laboratorio clínico</li>
          <li>Radiología e imágenes diagnósticas</li>
          <li>Terapia respiratoria</li>
          <li>Enfermería</li>
          <li>Nutrición y dietética</li>
          <li>Odontología general</li>
          <li>Optometría</li>
          <li>Psicología</li>
          <li>Consulta prioritaria</li>
          <li>Hospitalización</li>
          <li>Promoción y prevención</li>
          <li>Vacunación</li>
          <li>Servicio de urgencias</li>
        </ul>

        <h4 class="titulo-h4">Odontología</h4>
        <p>
          ESE HOSPITAL TAMALAMEQUE<br />
          Calle 5 carrera 7 y 8<br />
          Teléfono Conmutador: 0355286005<br />
          Teléfono móvil: 3008856731
        </p>

        <h4 class="titulo-h4">Laboratorio clínico</h4>
        <p>
          ESE HOSPITAL TAMALAMEQUE<br />
          Calle 5 carrera 7 y 8<br />
          Teléfono Conmutador: 0355286005<br />
          Teléfono móvil: 3008856731
        </p>

        <h4 class="titulo-h4">Urgencias</h4>
        <p>
          ESE HOSPITAL TAMALAMEQUE<br />
          Calle 5 carrera 7 y 8<br />
          Teléfono Conmutador: 0355286005<br />
          Teléfono móvil: 3008856731
        </p>

        <h4 class="titulo-h4">Hospitalización</h4>
        <p>
          ESE HOSPITAL TAMALAMEQUE<br />
          Calle 5 carrera 7 y 8<br />
          Teléfono Conmutador: 0355286005<br />
          Teléfono móvil: 3008856731
        </p>

        <h4 class="titulo-h4">Farmacia</h4>
        <p>
          PHARMASAN<br />
          Calle 5 # 8-11 Barrio Flores de Sabana<br />
          Horario: 07:00 a 14:00<br />
          Servicio a Domicilio al link:
          <a
            href="https://solicitudes.pharmasan.net/"
            target="_blank"
            class="link-file p-0"
            ><i class="bi bi-link-45deg"></i>
            https://solicitudes.pharmasan.net/</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
