<h1 class="titulo-h1 mb-4">FUNCIONES</h1>
<ul class="list-group list-group-flush">

  <li class="list-group-item">
    Pagar las pensiones legales y convencionales de los ex empleados de la empresa Ferrocarriles Nacionales de Colombia.
  </li>
  <li class="list-group-item">
    Atender las demás prestaciones económicas y asistenciales de las personas a que se refiere el literal anterior.</li>
  <li class="list-group-item">
    Efectuar el reconocimiento y pago de las pensiones de cualquier naturaleza de los empleados que adquieran ese
    derecho en la empresa Ferrocarriles Nacionales de Colombia en Liquidación.</li>
  <li class="list-group-item">
    Efectuar el reconocimiento y pago de las demás prestaciones sociales de los empleados de la empresa Ferrocarriles
    Nacionales de Colombia en Liquidación.</li>
  <li class="list-group-item">
    Cancelar al organismo de previsión social o a la entidad o empresa empleadora que haya hecho el pago de pensiones
    a empleados que hayan laborado en la empresa Ferrocarriles Nacionales de Colombia, la cuota parte que le corresponda por el tiempo servido
    en esta entidad y, repetir contra terceros las cuotas partes pensionales a favor de la empresa Ferrocarriles Nacionales de Colombia o
    del Fondo mismo.</li>
  <li class="list-group-item">
    Efectuar el pago de las indemnizaciones que se establezcan en ejercicio de las facultades a que se refiere la Ley
    21 de 1988.</li>
  <li class="list-group-item">
    Efectuar el pago de las sumas reconocidas por sentencias condenatorias laborales ejecutoriadas o que se ejecutorien
    a cargo de la empresa Ferrocarriles Nacionales de Colombia.</li>
  <li class="list-group-item">
    Reconocer y pagar las demás prestaciones y beneficios que le correspondan o se establezcan en ejercicio de las
    facultades a que se refiere la Ley 21 de 1988.</li>
  <li class="list-group-item">
    Expedir con la aprobación del Gobierno Nacional, reglamentos generales para la atención de las prestaciones y demás
    obligaciones a su cargo.</li>
  <li class="list-group-item">
    Realizar inversiones que garanticen seguridad, rentabilidad y liquidez a su patrimonio, con el fin de que pueda cumplir
     oportunamente sus obligaciones.</li>
  <li class="list-group-item">
    Ejercitar o impugnar las acciones judiciales y administrativas necesarias para la defensa y protección de los intereses
     de la Nación, de la empresa Ferrocarriles Nacionales de Colombia y del Fondo mismo, derivadas del cumplimiento de lo dispuesto en el artículo 7º
      de la Ley 21 de 1988 o de las que se generen como consecuencia del desarrollo de las facultades de que trata la citada ley.</li>
  <li class="list-group-item">
    Administrar los bienes del Fondo. Para dicho efecto podrá entre otras funciones, adquirir, enajenar, arrendar y gravar
     tanto los muebles como los inmuebles.</li>
  <li class="list-group-item">
    Las demás que se deriven de la ley o de sus estatutos.</li>
</ul>


