<h1 class="titulo-h1">SISTEMA DE AFILIACIÓN TRANSACCIONAL (SAT)</h1>

<p>
  El Fondo de Pasivo Social de Ferrocarriles Nacionales de Colombia, como
  Entidad Adaptada en salud del régimen contributivo presta los servicios de
  salud a los extrabajadores y sus grupos familiares de las extintas empresas
  Ferrocarriles Nacionales de Colombia y Puertos de Colombia únicamente. A
  continuación encontrara todo lo relacionado para la Afiliación al Fondo
</p>
<h3 class="titulo-h3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="true" *ngFor="let item of items">
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <a
            *ngFor="let file of item.files; let i = index"
            class="link-file"
            href="{{ file.url }}"
            [target]="file.tipo != 'link' ? '_blank' : ''"
            ><i
              [class]="
                'bi bi-' +
                (file.tipo == 'link-ext' || file.tipo == 'link'
                  ? 'link-45deg'
                  : 'file-earmark-' + file.tipo + '-fill')
              "
            ></i
            >{{ file.nombre }}</a
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>
<a
  class="btn-comun mb-3 mt-4"
  type="button"
  href="assets/files/resoluciones/Formulario-afiliaciones-novedades-nuevo.pdf"
  target="_blank"
  >Formulario de Afiliación</a
>
<a
  class="btn-comun mb-3"
  type="button"
  href="assets/files/resoluciones/Instructivo anexo-2-resolucion-1823-de-2024-instructivo-diligenciamiento-formulario-afiliacion-novedades.pdf"
  target="_blank"
  >Instructivo de Diligenciamiento Formulario de Afiliación</a
>
<a
  class="btn-comun mb-3"
  type="button"
  href="https://miseguridadsocial.gov.co/"
  target="_blank"
  >Sistemas de Información Transaccional</a
>
<a
  class="btn-comun mb-4"
  type="button"
  href="assets/files/NEGACION DE SERVICIOS DE SALUD.pdf"
  target="_blank"
  >Negación de Servicios de Salud</a
>
<h3 class="titulo-h3">
  Valor POS Adicional Regimén Contributivo Vigencia 2025
</h3>
<p>
  De conformidad con lo establecido en el Artículo 2.1.4.5 del Decreto Único
  Reglamentario 780 de 2016 y de acuerdo con los artículos 1 al 4 de la
  Resolución 2364 del 29 de Diciembre de 2023 del Ministerio de Salud y
  Protección Social, por la cual se fija el valor de la Unidad de Pago por
  Capitación - UPC para la cobertura el Plan de Beneficios en Salud de los
  Regímenes Contributivo y Subsidiado en la vigencia 2024, a continuación se dan
  a conocer los valores de la UPC adicional, de acuerdo con la edad, género y
  zona geográfica de cada afiliado, que regirán a partir del 01 de Enero de
  2024:
</p>
<table class="table mb-4">
  <thead>
    <tr class="table-primary">
      <th style="text-align: center; vertical-align: middle; width: 160px">
        GRUPO DE EDAD
      </th>
      <th style="text-align: center; vertical-align: middle">
        UPC ADICIONAL ZONA NORMAL
      </th>
      <th style="text-align: center; vertical-align: middle">
        UPC ADICIONAL ZONA ESPECIAL
      </th>
      <th style="text-align: center; vertical-align: middle">
        UPC ADICIONAL CIUDADES
      </th>
      <th style="text-align: center; vertical-align: middle">
        UPC ADICIONAL SAN ANDRES,<br />
        PROVIDENCIA Y <br />
        SANTA CATALINA
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        Menores de 1 año
      </td>
      <td style="text-align: center; vertical-align: middle">420.200</td>
      <td style="text-align: center; vertical-align: middle">462.000</td>
      <td style="text-align: center; vertical-align: middle">461.400</td>
      <td style="text-align: center; vertical-align: middle">578.600</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">De 1 a 4 años</td>
      <td style="text-align: center; vertical-align: middle">122.500</td>
      <td style="text-align: center; vertical-align: middle">134.500</td>
      <td style="text-align: center; vertical-align: middle">134.300</td>
      <td style="text-align: center; vertical-align: middle">168.000</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">De 5 a 14 años</td>
      <td style="text-align: center; vertical-align: middle">50.700</td>
      <td style="text-align: center; vertical-align: middle">55.600</td>
      <td style="text-align: center; vertical-align: middle">55.500</td>
      <td style="text-align: center; vertical-align: middle">69.100</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 15 a 18 años (H)
      </td>
      <td style="text-align: center; vertical-align: middle">49.000</td>
      <td style="text-align: center; vertical-align: middle">53.700</td>
      <td style="text-align: center; vertical-align: middle">53.700</td>
      <td style="text-align: center; vertical-align: middle">66.800</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 15 a 18 años (M)
      </td>
      <td style="text-align: center; vertical-align: middle">75.700</td>
      <td style="text-align: center; vertical-align: middle">83.000</td>
      <td style="text-align: center; vertical-align: middle">82.900</td>
      <td style="text-align: center; vertical-align: middle">103.500</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 19 a 44 años (H)
      </td>
      <td style="text-align: center; vertical-align: middle">82.900</td>
      <td style="text-align: center; vertical-align: middle">91.000</td>
      <td style="text-align: center; vertical-align: middle">90.900</td>
      <td style="text-align: center; vertical-align: middle">113.500</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 19 a 44 años (M)
      </td>
      <td style="text-align: center; vertical-align: middle">151.300</td>
      <td style="text-align: center; vertical-align: middle">166.200</td>
      <td style="text-align: center; vertical-align: middle">166.000</td>
      <td style="text-align: center; vertical-align: middle">207.700</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 45 a 49 años
      </td>
      <td style="text-align: center; vertical-align: middle">154.300</td>
      <td style="text-align: center; vertical-align: middle">169.500</td>
      <td style="text-align: center; vertical-align: middle">169.300</td>
      <td style="text-align: center; vertical-align: middle">211.900</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 50 a 54 años
      </td>
      <td style="text-align: center; vertical-align: middle">194.700</td>
      <td style="text-align: center; vertical-align: middle">213.900</td>
      <td style="text-align: center; vertical-align: middle">213.600</td>
      <td style="text-align: center; vertical-align: middle">267.600</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 55 a 59 años
      </td>
      <td style="text-align: center; vertical-align: middle">230.000</td>
      <td style="text-align: center; vertical-align: middle">252.800</td>
      <td style="text-align: center; vertical-align: middle">252.500</td>
      <td style="text-align: center; vertical-align: middle">316.400</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 60 a 64 años
      </td>
      <td style="text-align: center; vertical-align: middle">294.700</td>
      <td style="text-align: center; vertical-align: middle">324.000</td>
      <td style="text-align: center; vertical-align: middle">323.600</td>
      <td style="text-align: center; vertical-align: middle">405.600</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 65 a 69 años
      </td>
      <td style="text-align: center; vertical-align: middle">364.600</td>
      <td style="text-align: center; vertical-align: middle">400.800</td>
      <td style="text-align: center; vertical-align: middle">400.300</td>
      <td style="text-align: center; vertical-align: middle">501.900</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 70 a 74 años
      </td>
      <td style="text-align: center; vertical-align: middle">440.400</td>
      <td style="text-align: center; vertical-align: middle">484.200</td>
      <td style="text-align: center; vertical-align: middle">483.500</td>
      <td style="text-align: center; vertical-align: middle">606.400</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: middle">
        De 75 y más años
      </td>
      <td style="text-align: center; vertical-align: middle">548.800</td>
      <td style="text-align: center; vertical-align: middle">603.500</td>
      <td style="text-align: center; vertical-align: middle">602.700</td>
      <td style="text-align: center; vertical-align: middle">756.000</td>
    </tr>
  </tbody>
</table>
<p>
  ** Valores aproximados a la centena superior - Art. 3.2.1.5 Decreto 780 de
  2016.
</p>
<p>
  (1) Zona Normal: Todos los municipios del país a excepción de los registrados
  como zona especial, zona alejada y grandes ciudades y conurbados.
</p>
<p>
  (2) Zona Especial: Comprende los municipios del anexo 1 de la Resolución 2364
  del 29 de Diciembre de 2023.
</p>
<p>
  (3) Grandes Ciudades y Conurbados: Comprende las ciudades de Armenia,
  Barrancabermeja, Distrito Especial, Industrial y Portuario de Barranquilla,
  Bello, Bogotá, Distrito Capital, Bucaramanga, Buenaventura Distrito Especial,
  Industrial, Portuario, Biodiverso y Ecoturístico, Cartagena de Indias,
  Distrito Turístico y Cultural, Cartago, Cúcuta, Dosquebradas, Floridablanca,
  Guadalajara de Buga, Ibagué́, Itagüí, Manizales, Medellín, Montería, Neiva,
  Palmira, Pasto, Pereira, Popayán, Riohacha, Santa Marta Distrito Turístico,
  Cultural e Histórico, Santiago de Cali, Sincelejo, Soacha, Soledad, Tuluá,
  Valledupar y Villavicencio.
</p>
<p>
  (4) Zona Alejada: Comprende el Departamento Archipiélago de San Andrés,
  Providencia y Santa Catalina.
</p>
<p>
  Lo anterior aplica para los municipios y ciudades donde el Fondo de Pasivo
  Social de Ferrocarriles Nacionales de Colombia, tiene autorización de atención
  a su población afiliada.
</p>
