<h1 class="titulo-h1 mb-4">PROGRAMAS Y PROYECTOS DE INVERSIÓN</h1>



<h2 class="titulo-h2 mb-4">Links de interés</h2>

<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of items"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div *ngFor="let acordion of item.acordion; let i = index">
            <h4 class="titulo-h4">
              <span>{{ i + 1 }}</span>
              {{ acordion.nombre }}
              </h4>
            <div class="mb-3">
              <a
                class="link-file mt-2"
                *ngFor="let file of acordion.files"
                href="{{ file.url }}"
                target="_blank"
              >
                <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
                {{ file.nombre }}
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<h3 class="titulo-h3 mt-4">
  <a href="https://spi.dnp.gov.co/" target="_blank">
    SEGUIMIENTO A LOS PROYECTOS DE INVERSIÓN - SPI
    </a></h3>

<p style="text-align: justify;">
  "Si quiere consultar más detalles de la ejecución de los proyectos, por favor ingresar a la plataforma
  de Seguimiento a los Proyectos de Inversión - SPI del Departamento Nacional de Planeación -DNP - ingresar con usuario anónimo-"
</p>
