<h1 class="titulo-h1">PRIMERA INFANCIA</h1>

<p>
  Comprende desde los 7 días hasta los 5 años 11 meses y 29 días, constituye el
  momento con mayor posibilidad de potenciar el desarrollo cerebral.
</p>

<h3 class="titulo-h3 mt-4">
  ATENCIÓN POR MEDICINA GENERAL, FAMILIAR O PEDIATRÍA
</h3>
<ul class="lista-general">
  <li>1 Mes</li>
  <li>4 Meses - 5 Meses</li>
  <li>12 Meses - 18 Meses</li>
  <li>24 Meses - 29 Meses</li>
  <li>3 Años</li>
  <li>5 Años</li>
</ul>

<h3 class="titulo-h3 mt-4">ATENCIÓN POR ENFERMERÍA</h3>
<ul class="lista-general">
  <li>2 Meses - 3 Meses</li>
  <li>6 Meses - 11 Meses</li>
  <li>19 Meses - 23 Meses</li>
  <li>30 Meses - 35 Meses</li>
  <li>4 Años</li>
</ul>

<h3 class="titulo-h3 mt-4">PROTECCIÓN ESPECÍFICA</h3>
<ul class="lista-general">
  <li>Atención por odontología</li>
  <li>Vacunación</li>
</ul>
