<h1 class="titulo-h1">Reporte Pensionados Fallecidos</h1>
<a
  class="link-file mb-3"
  href="/assets/files/202303100002264%20REPORTE%20DE%20FALLECIDOS.pdf"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Circular Reporte de Fallecidos
</a>
<div class="card mb-3">
  <div class="card-body">
    <h3 class="titulo-h3">RETIRO FALLECIDOS</h3>
    <p>
      Para reportar el retiro de pensionados fallecidos se debe comunicar el
      deceso de la persona al Fondo Pasivo Social de Ferrocarriles Nacionales de
      Colombia a través de nuestros canales de comunicación. ( En caso de contar
      con el registro de defunción se deberá enviar informando la novedad)
    </p>

    <h3 class="titulo-h3">
      REINTEGRO DE MESADAS PENSIONALES DE PENSIONADOS FALLECIDOS
    </h3>
    <p class="mb-0">
      Cuando se realiza el pago de una mesada pensional y el pensionado de
      encuentra fallecido, el cobro de esta mesada por familiares o acompañantes
      acarrea sanciones de tipo legal y penal, por lo tanto, esta debe ser
      devuelta por el banco al FPS para su respectivo reintegro a la Dirección
      del Tesoro Nacional y pago a herederos o sustitutos por los días causados
      y no cobrados, según corresponda.
    </p>
  </div>
</div>

<p>
  <b>Correo: </b
  ><a href="mailto:correspondencia@fps.gov.co">{{
    "correspondencia@fps.gov.co"
  }}</a>
</p>
<p>
  <b>PQRSD: </b
  ><a href="/participa/pqrs/222" target="_blank">
    www.fps.gov.co/noticias/participa/222.gov.co/
  </a>
</p>
<p><b>Página web: </b><a href="/" target="_blank"> www.fps.gov.co </a></p>
<p><b>Líneas de atención telefónica:</b></p>
<ul class="lista-general">
  <li>
    Orientación Telefónica Sede Principal: +57 (601) 381 71 71 ext. 1900 en
    jornada continua día hábiles.
  </li>
  <li>Línea de Atención 24 horas, Bogotá: +57 (601) 208 83 39</li>
  <li>Línea Gratuita (COVID-19), Nacional: +57 01 8000 111322</li>
  <li>Línea 24 horas Atención de Urgencias,Nacional: +57 01 8000 111322</li>
  <li>
    Atención PQRSD de Salud, Línea de Atención 24/7, Nacional: +57 01 8000
    111322
  </li>
</ul>
