<div class="container-fluid mb-5 p-0">
  <div class="container p-0 pb-2">
    <h1 class="titleSection mb-4"><span class="p-0 pe-2">Salud</span></h1>
  </div>

  <div class="row p-0">
    <div class="col-lg-4 col-xl-5 col-xxl-6 p-0 mapa">
      <a href="https://www.fps.gov.co/servicios-de-salud/red-de-prestadores/44"><img src="/assets/img/Home/saludHome/mapa.png" /></a>
    </div>

    <div
      class="col-lg-8 col-xl-7 col-xxl-6 p-4 p-xl-5 info d-flex align-items-center"
    >
      <div class="container">
        <div class="row align-items-center py-4 py-lg-3">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <div class="columnInfo">
                <span class="icon-usuarios icono mb-4"></span>
                <b>9232</b>
                <p>Usuarios</p>
              </div>
              <div class="columnInfo">
                <span class="icon-municipios icono mb-4"></span>
                <b>983</b>
                <p>Municipios</p>
              </div>
              <div class="columnInfo">
                <span class="icon-prestadores icono mb-4"></span>
                <b>814</b>
                <p>Prestadores de salud</p>
              </div>
            </div>
          </div>
          <h2 class="titleBanner">
            Conoce nuestra
            <br />
            <span>red de prestadores de salud</span>
          </h2>
          <div class="row m-0 mt-4 gap-3 botones">
            <div class="btn-icono-t">
              <a href="/servicios-de-salud/sistema-de-afiliacion-transaccional-sat/223">
                <span class="icon-afiliaciones icon"></span>
                Afiliaciones
              </a>
            </div>
            <div class="btn-icono-t">
              <a
                href="/servicios-de-salud/programa-de-promocion-y-prevencion/132"
              >
                <span class="icon-promocionyprevencion icon"></span>
                Programa de Promoción y Prevención
              </a>
            </div>

            <div class="btn-icono-t">
              <a href="/servicios-de-salud/indicadores-de-salud/190">
                <span class="icon-indicadores icon"></span>
                Indicadores de salud
              </a>
            </div>
            <div class="btn-icono-t">
              <a href="/servicios-de-salud/afiliados/242">
                <span class="icon-derechosydeberes icon"></span>
                Carta derechos y deberes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
