<div class="container-fluid mb-5 p-0">
  <div class="container p-0">
    <h1 class="titleSection"><span class="p-0 pe-2">Salud</span></h1>
  </div>

  <div class="row p-0 mt-5">
    <div class="col-lg-5 p-0 position-relative d-flex align-items-center">
      <img class="img-fluid" src="/assets/img/Home/saludHome/mapa.png" />

      <div
        class="position-absolute bottom-0 d-none d-lg-flex justify-content-end col-12 doctor"
      >
        <img
          class="col-7"
          src="/assets/img/Home/saludHome/aym_colombia_doctor.png"
        />
      </div>
    </div>

    <div class="col-lg-7 p-5 info">
      <div class="px-lg-5">
        <div class="row gap-3 px-lg-4 justify-content-between">
          <div class="col-3 columnInfo">
            <span class="icon-usuarios icono mb-3"></span>
            <b>9232</b>
            <p>Usuarios</p>
          </div>
          <div class="col-3 columnInfo">
            <span class="icon-municipios icono mb-3"></span>
            <b>983</b>
            <p>Municipios</p>
          </div>
          <div class="col-3 columnInfo">
            <span class="icon-prestadores icono mb-3"></span>
            <b>814</b>
            <p>Prestadores de salud</p>
          </div>
        </div>
        <h2 class="titleBanner mb-4 mt-lg-3 px-lg-4">
          Conoce nuestra
          <br />
          <span>red de prestadores de salud</span>
        </h2>
        <div class="row m-0 mt-3 pt-lg-3 gap-2 px-lg-4 justify-content-center">
          <div class="btn-icono-t">
            <a href="#">
              <span class="icon-afiliaciones icon"></span>
              Afiliaciones
            </a>
          </div>
          <div class="btn-icono-t">
            <a href="#">
              <span class="icon-promocionyprevencion icon"></span>
              Programa de Promoción y Prevención
            </a>
          </div>

          <div class="btn-icono-t">
            <a href="#">
              <span class="icon-indicadores icon"></span>
              Indicadores de salud
            </a>
          </div>
          <div class="btn-icono-t">
            <a href="#">
              <span class="icon-derechosydeberes icon"></span>
              Carta derechos y deberes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
