<h1 class="titulo-h1">INFANCIA</h1>

<p>
  Comprende desde los 6 años hasta los 11 años, 11 meses y 29 días. Edades donde
  se requiere mayor acompañamiento en salud, dado el desarrollo y las
  vulnerabilidades.
</p>

<h3 class="titulo-h3 mt-4">
  ATENCIÓN POR MEDICINA GENERAL, FAMILIAR O PEDIATRÍA
</h3>
<ul class="lista-general">
  <li>6 años</li>
  <li>8 años</li>
  <li>10 años</li>
</ul>

<h3 class="titulo-h3 mt-4">ATENCIÓN POR ENFERMERÍA</h3>
<ul class="lista-general">
  <li>7 años</li>
  <li>9 años</li>
  <li>11 años</li>
</ul>

<h3 class="titulo-h3 mt-4">PROTECCIÓN ESPECÍFICA</h3>
<ul class="lista-general">
  <li>Atención por odontología</li>
  <li>Vacunación</li>
</ul>

<h3 class="titulo-h3 mt-4">DETECCIÓN TEMPRANA</h3>
<ul class="lista-general">
  <li>Tamizaje para anemia (una vez de 10 a los 13 años)</li>
</ul>
