@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:host {
  font-family: 'Work Sans', sans-serif;
}

.custom-input:focus {
  box-shadow: none;
  border-color: #2A9EBD; /* opcional: borde azul igual al header */
}