<div class="position-relative" id="footer">
  <div class="gov-fondo position-absolute"></div>
  <div class="govco-data-front position-relative container">
    <div class="row py-3 p-sm-4">
      <div class="col-12 col-lg-8">
        <h4 class="m-0 f-7">Fondo de Pasivo Social</h4>
        <h4 class="f-7">Ferrocarriles Nacionales de Colombia</h4>

        <div class="col-12 col-lg-4 mt-4 d-block d-lg-none">
          <div class="row justify-content-center">
            <a href="/" rel="home" class="col-10 col-sm-8 col-md-7">
              <img class="col-12" src="assets/img/logos/logo_fps.svg" />
            </a>
          </div>
        </div>

        <h5 class="mt-4 f-6">Sede Principal</h5>
        <p>
          <b>Dirección: </b>Calle 73 No. 11 - 66, Torre 73 (Bogotá DC,
          Colombia)<br />
          <b>Código Postal:</b> 1114111<br />
          <b>Horario de atención Presencial:</b> Lunes a Viernes 08:00 a.m. a
          04:30 p.m.<br />
          <b>Horario de atención Virtual: </b>Días hábiles en jornada continua
          08:00 a.m., a 04:30 p.m.
        </p>
        <h5 class="mt-4 f-6">Contacto</h5>
        <p class="m-0">
          <b>Orientación telefónica:</b> +57 601 381 71 71 Ext. 1900 / +57 601
          580 78 58 Ext. 1900, en jornada continua día hábiles.<br />
          <b>Línea de Atención 24 horas, Bogotá:</b> +57 601 208 83 39<br />
          <b>Línea Gratuita (COVID-19), Nacional:</b> +57 01-8000-111322<br />
          <b>Línea 24 horas Atención de Urgencias, Nacional:</b> +57
          01-8000-111322<br />
          <b>Atención PQRSD de Salud, Línea de Atención 24/7, Nacional:</b>
          +57 01-8000-111322<br />
          <b>E-mail: </b>
          <a href="mailto:correspondencia@fps.gov.co" target="_blank">{{
            "correspondencia@fps.gov.co"
          }}</a
          ><br />
          <b>E-mail Notificaciones judiciales: </b>
          <a
            href="mailto:notificacionesjudiciales@fps.gov.co"
            target="_blank"
            >{{ "notificacionesjudiciales@fps.gov.co" }}</a
          ><br />
          <b>E-mail Notificaciones actos administrativos: </b>
          <a href="mailto:notificacionce@fps.gov.co" target="_blank">{{
            "notificacionce@fps.gov.co"
          }}</a
          ><br />
          <b>E-mail Denuncias por hechos de Corrupción: </b>
          <a href="mailto:soy.transparente@fps.gov.co" target="_blank">{{
            "soy.transparente@fps.gov.co"
          }}</a
          ><br />
          <b>Correo Electrónico Atención de Urgencias 24 horas: </b>
          <a href="mailto:fps@enlazamos.com" target="_blank">{{
            "fps@enlazamos.com"
          }}</a
          ><br />
        </p>
      </div>

      <div class="col-12 col-lg-4 d-none d-lg-block">
        <div class="row justify-content-center">
          <a href="/" rel="home" class="col-10">
            <img class="col-12" src="assets/img/logos/logo_fps.svg" />
          </a>
          <a
            href="http://www.supersalud.gov.co/"
            class="col-8 mt-3"
            target="_blank"
          >
            <img src="assets/img/logos/image_supersalud.png" class="col-12" />
          </a>
          <div class="col-10 d-flex justify-content-center mt-4 logos-iso">
            <img src="assets/img/logos/logo_iso_9001_2.png" class="col-2" />
            <img src="assets/img/logos/logo_iso_45001_2.png" class="col-2" />
            <img src="assets/img/logos/logo_iso_14001_2.png" class="col-2" />
            <img src="assets/img/logos/iqnet-prims.png" class="col-3" />
          </div>

         <div class="col-10 d-flex justify-content-center mt-4 logos-iso">
            <img src="assets/img/logos/logo_iso_9001_2.png" class="col-2" />
           
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 py-3 pt-sm-0 p-sm-4">
      <div class="row redes">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
          <a
            href="https://twitter.com/fondo_pasivo"
            alt="Twitter"
            title="Ir a Twitter"
            target="_blank"
            class="icono-twitter"
          >
            {{ "@fondo_pasivo" }}
          </a>
        </div>

        <div class="mt-2 mt-sm-0 col-12 col-sm-7">
          <a
            href="https://www.instagram.com/fondo_pasivo/"
            alt="Instagram"
            title="Ir a Instagram"
            target="_blank"
            class="icono-instagram"
          >
            {{ "@fondo_pasivo" }}
          </a>
        </div>
        <div class="mt-2 col-12">
          <a
            href="https://www.facebook.com/Fondo-de-Pasivo-Social-Ferrocarriles-Nacionales-de-Colombia-727728047616712/"
            alt="Facebook"
            title="Ir a Facebook"
            target="_blank"
            class="icono-facebook"
          >
            {{ "@FondodePasivoSocialFerrocarrilesNacionalesdeColombia" }}
          </a>
        </div>
        <div class="mt-2 col-12">
          <a
            href="https://www.youtube.com/channel/UC6hYgr708Glp23EiapxTH-Q"
            alt="Youtube"
            title="Ir a Youtube"
            target="_blank"
            class="icono-youtube"
          >
            Fondo de Pasivo Social Ferrocarriles Nacionales de Colombia
          </a>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="gov-link">
          <div class="row">
            <div class="col-12 col-sm-7 col-lg-4">
              <a class="" href="#">Encuesta de usabilidad FPSFNC</a>
            </div>
            <div class="col-12 col-sm-5 col-lg-2">
              <a class="" href="/corporativo/mapa-del-sitio/238"
                >Mapa del sitio</a
              >
            </div>
            <div class="col-12 col-lg-6">
              <a
                class=""
                href="assets/files/corporate/APGTSOPSPO04 POLITICA GENERAL DE SEGURIDAD Y PRIVACIDAD DE LA INFORMACION V3.pdf"
                target="_blank"
                >Políticas, Condiciones y Términos de Uso</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govco-footer-logo position-relative">
  <div class="govco-logo-container">
    <a href="https://colombia.co/" target="_blank">
      <span class="govco-co"></span
    ></a>
    <span class="govco-separator"></span>
    <a href="https://www.gov.co/" target="_blank">
      <span class="govco-logo"></span
    ></a>
  </div>
</div>
