<div class="govco-footer">
  <div class="govco-data-front">
    <div class="govco-footer-text">
      <div class="row m-lg-0 govco-nombre-entidad">
        <div class="col-xs-12 col-lg-6 p-0">
          <p class="govco-text-header-1">
            FONDO DE PASIVO SOCIAL FERROCARRILES NACIONALES DE COLOMBIA
          </p>
        </div>
        <div class="col-xs-12 col-lg-5 govco-logo-div-a">
          <div class="col-12 d-flex justify-content-center">
            <a href="/" class="col-12" rel="home">
              <img src="assets/img/logos/logo_fps.svg" class="col-8" />
            </a>
          </div>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <div class="col-xs-12 col-lg-7 p-lg-0 govco-texto-sedes">
          <p class="govco-text-header-2">Sede principal</p>
          <span
            ><b>Dirección: </b>Calle 19 No 14 - 21 piso 1 Edificio CUDECOM.
            Bogotá, Colombia.</span
          ><br />
          <span><b>Código Postal:</b> 1114111</span><br />
          <span
            ><b>Horario de atención Presencial:</b> Lunes a Viernes 08:00 a.m. a
            04:30 p.m.</span
          ><br />
          <span
            ><b>Horario de atención Virtual: </b>Días hábiles en jornada
            continua 08:00 a.m., a 04:30 p.m. </span
          ><br />
          <span
            ><b>Orientación telefónica:</b> +57 01 3817171 Ext. 1900 en jornada
            continua día hábiles. </span
          ><br />
          <span
            ><b>Línea de Atención 24 horas, Bogotá:</b> +57 601 208 83 39 </span
          ><br />
          <span
            ><b>Línea Gratuita (COVID-19), Nacional:</b> +57 01-8000-111322 </span
          ><br />
          <span
            ><b>Línea 24 horas Atención de Urgencias, Nacional:</b> +57
            01-8000-111322 </span
          ><br />
          <span
            ><b>Atención PQRSD de Salud, Línea de Atención 24/7, Nacional:</b>
            +57 01-8000-111322 </span
          ><br />
          <span
            ><b>E-mail: </b>
            <a href="mailto:correspondencia@fps.gov.co" target="_blank">{{
              "correspondencia@fps.gov.co"
            }}</a> </span
          ><br />
          <span
            ><b>E-mail Notificaciones judiciales: </b>
            <a
              href="mailto:notificacionesjudiciales@fps.gov.co"
              target="_blank"
              >{{ "notificacionesjudiciales@fps.gov.co" }}</a
            > </span
          ><br />
          <span
            ><b>E-mail Notificaciones actos administrativos: </b>
            <a href="mailto:notificacionce@fps.gov.co" target="_blank">{{
              "notificacionce@fps.gov.co"
            }}</a> </span
          ><br />
          <span
            ><b>E-mail Denuncias por hechos de Corrupción: </b>
            <a href="mailto:soy.transparente@fps.gov.co" target="_blank">{{
              "soy.transparente@fps.gov.co"
            }}</a> </span
          ><br />
          <span
            ><b>Correo Electrónico Atención de Urgencias 24 horas: </b>
            <a href="mailto:fps@enlazamos.com" target="_blank">{{
              "fps@enlazamos.com"
            }}</a> </span
          ><br />
        </div>

        <div class="col-xs-12 col-lg-3 p-lg-0 govco-logo-div-a">
          <div class="col-12 d-flex justify-content-center mt-2">
            <a
              href="http://www.supersalud.gov.co/"
              target="_blank"
              class="col-12"
            >
              <img src="assets/img/logos/logo_supersalud.png" class="col-12" />
            </a>
          </div>
          <div class="col-12 d-flex justify-content-center mt-2">
            <div class="col-2">
              <img
                src="assets/img/logos/logo_iso_9001_2.png"
                class="img-fluid"
              />
            </div>
            <div class="col-2">
              <img
                src="assets/img/logos/logo_iso_45001_2.png"
                class="img-fluid"
              />
            </div>
            <div class="col-2">
              <img
                src="assets/img/logos/logo_iso_14001_2.png"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row col-xs-12 col-lg-7 govco-network">
        <a
          href="https://twitter.com/fondo_pasivo"
          alt="Twitter"
          title="Ir a Twitter"
          target="_blank"
          class="govco-iconContainer"
        >
          <span class="icon govco-twitter-square"></span>
          <span class="govco-link-modal">{{ "@fondo_pasivo" }}</span>
        </a>
        <a
          href="https://www.instagram.com/fondo_pasivo/"
          alt="Instagram"
          title="Ir a Instagram"
          target="_blank"
          class="govco-iconContainer"
        >
          <span class="icon govco-instagram-square"></span>
          <span class="govco-link-modal">{{ "@fondo_pasivo" }}</span>
        </a>
      </div>

      <div class="row col-xs-12 col-lg-7 govco-network">
        <a
          href="https://www.facebook.com/Fondo-de-Pasivo-Social-Ferrocarriles-Nacionales-de-Colombia-727728047616712/"
          alt="Facebook"
          title="Ir a Facebook"
          target="_blank"
          class="govco-iconContainer"
        >
          <span class="icon govco-facebook-square"></span>
          <span class="govco-link-modal">{{
            "@FondodePasivoSocial FerrocarrilesNacionalesdeColombia"
          }}</span>
        </a>
      </div>

      <div class="row col-xs-12 col-lg-7 govco-network">
        <a
          href="https://www.youtube.com/channel/UC6hYgr708Glp23EiapxTH-Q"
          alt="Youtube"
          title="Ir a Youtube"
          target="_blank"
          class="govco-iconContainer"
        >
          <span class="icon govco-youtube"></span>
          <span class="govco-link-modal"
            >Fondo de Pasivo Social Ferrocarriles Nacionales de Colombia
          </span>
        </a>
      </div>

      <div class="row m-0 govco-links-container">
        <div class="govco-link-container">
          <a
            class="govco-link-modal govco-link-modal-bold"
            href="#"
            target="_blank"
            >Políticas, Condiciones y Términos de Uso</a
          >
        </div>
        <div class="govco-link-container">
          <a
            class="govco-link-modal govco-link-modal-bold"
            href="#"
            target="_blank"
            >Mapa del sitio</a
          >
        </div>
        <div class="govco-link-container">
          <a
            class="govco-link-modal govco-link-modal-bold"
            href="#"
            target="_blank"
            >Encuesta de usabilidad FPSFNC</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="govco-footer-logo">
    <div class="govco-logo-container">
      <span class="govco-co"></span>
      <span class="govco-separator"></span>
      <span class="govco-logo"></span>
    </div>
  </div>
</div>
