<h1 class="titulo-h1">INFORMES DE LA DEFENSA JUDICIAL</h1>
<p>
  Para dar cumplimiento a la Ley, el Fondo Pasivo Social presenta sus informes
  relacionados con la Defensa Judicial de los procesos en contra de la entidad.
</p>
<a href="https://services.defensajuridica.gov.co/ekogui/#/home" class="btn-comun" target="_blank"> Consulta eKOGUI</a><br>
<h3 class="titulo-h3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of items; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <a
            *ngFor="let file of item.files"
            class="link-file mb-3"
            href="{{ file.url }}"
            target="_blank"
            ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
            >{{ file.nombre }}</a
          >
          <div *ngFor="let acordion of item.acordion; let i = index">
            <h4 class="titulo-h4">
              <span>{{ i + 1 }}</span>
              {{ acordion.nombre }}
            </h4>
            <div class="mb-3">
              <a
                class="link-file"
                *ngFor="let file of acordion.files"
                href="{{ file.url }}"
                target="_blank"
              >
                <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
                {{ file.nombre }}
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
