<h1 class="titulo-h1">EVENTOS</h1>

<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <table style="width: 100%" border="3">
      <tr>
        <td style="width: 50%">
          <img
            src="/assets/img/eventos/1066.png"
            width="100%"
            height="200px"
            alt=""
          />
        </td>
        <td style="width: 50%">
          Cómite Regional Gestión de Prestaciones Económicas
          <br />
          17 de junio de 2022
          <p></p>
          Fecha: 17/06/2022 Hora: 9:00 AM - 12:00 PM
        </td>
      </tr>
    </table>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <table style="width: 100%" border="3">
      <tr>
        <td style="width: 50%">
          <img
            src="/assets/img/eventos/1065.png"
            width="100%"
            height="200"
            alt=""
          />
        </td>
        <td style="width: 50%">
          Cómite Regional Gestión de Prestaciones Económicas
          <br />
          13 de junio de 2022
          <p></p>
          Fecha: 13/06/2022
          <br />
          Hora: 9:00 AM - 12:00 PM
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <table style="width: 100%" border="3">
      <tr>
        <td style="width: 50%">
          <img
            src="/assets/img/eventos/1064.png"
            width="100%"
            height="200px"
            alt=""
          />
        </td>
        <td style="width: 50%">
          Cómite Regional Gestión de Prestaciones Económicas
          <br />
          10 de junio de 2022
          <p></p>
          Fecha: 10/06/2022
          <br />
          Hora: 9:00 AM - 12:00 PM
        </td>
      </tr>
    </table>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <table style="width: 100%" border="3">
      <tr>
        <td style="width: 50%">
          <img
            src="/assets/img/eventos/1063.png"
            width="100%"
            height="200"
            alt=""
          />
        </td>
        <td style="width: 50%">
          Cómite Regional Gestión de Prestaciones Económicas
          <br />
          6 de junio de 2022
          <p></p>
          Fecha: 06/06/2022
          <br />
          Hora: 9:00 AM - 12:00 PM
        </td>
      </tr>
    </table>
  </div>
</div>
