<h1 class="titulo-h1">
  PROGRAMA DE ATENCIÓN INTEGRAL A ENFERMEDADES RESPIRATORIAS CRÓNICAS (ASMA Y
  EPOC)
</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>
<ul class="lista-general">
  <li>Valoración integral por medico familiar o medico general.</li>
  <li>
    Tamizaje Breve de EPOC ( A partir de los 40 años) con factores de riesgo
    como: Si eres fumadores pasivo o activo, Exposición a contaminación
    atmosférica ( Humo de Leña, combustible de miomasa).
  </li>
  <li>Valoración Integral por medico Familiar y medico general.</li>
  <li>Vacunación Influenza mayores de 60 años.</li>
  <li>Vacunación COVID.</li>
  <li>Vacunación Neumococo mayores de 60 años (según indicación).</li>
</ul>

<h3 class="titulo-h3 mt-4">CONTROLES EN PACIENTES DIÁGNOSTICADOS CON CÁNCER</h3>
<ul class="lista-general">
  <li>
    Si usted es Diagnosticado con EPOC y se encuentra controlado su controles
    serán como mínimo trimestrales, si su patología no esta controlada Sus
    controles se definirán con su medico tratante.
  </li>
  <li>
    Si usted es Diagnosticado con ASMA y se encuentra controlado su controles
    serán como mínimo 2 veces al año, si su patología no esta controlada Sus
    controles se definirán con su medico tratante.
  </li>
</ul>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>

<ul class="lista-general">
  <li>Valoración por Psicología</li>
  <li>Valoración por Neumología Adulto y/o Pediátrica</li>
  <li>
    Valoración Por Nutrición (Según frecuencia ordenada por el profesional
    tratante)
  </li>
  <li>Valoración Por Trabajo Social</li>
  <li>Valoración por Rehabilitación pulmonar (Según cada caso)</li>
  <li>Valoración por enfermería</li>
</ul>

<p class="mt-4">
  <em
    >Recuerda que el tratamiento puedes ser farmacológico o NO farmacológico y
    este será acordado con el profesional tratante según su diagnostico.
  </em>
</p>
