<h1 class="titulo-h1">LA ENTIDAD</h1>
<p style="text-align: justify">
  El Fondo de Pasivo Social de Ferrocarriles Nacionales de Colombia, es una
  empresa del sector público adscrita al Ministerio de Salud y Protección
  Social.
</p>
<p style="text-align: justify">
  El FONDO es una ENTIDAD ADAPTADA EAS que presta servicios de salud a los
  pensionados de los Ferrocarriles Nacionales de Colombia, Puertos de Colombia y
  a sus respectivos beneficiarios.
</p>
<p style="text-align: justify">
  El servicio de salud es fundamental en la atención integral a cada individuo
  en los niveles de promoción de la salud, prevención de la enfermedad, curación
  y rehabilitación de las secuelas. En la áreas de promoción y prevención es
  deber del pensionado y sus beneficiarios ser partícipes de los programas que
  al respecto adelanten las entidades contratadas.
</p>
<p style="text-align: justify">
  Domicilio principal está en la ciudad de Bogotá D.C. en la Calle 73 No. 11 - 66,
  Torre 73, en las instalaciones de la antigua Estación de la
  Sabana.
</p>

<div class="row d-flex gap-3">
  <div class="btn-icono">
    <a href="/informacion-al-ciudadano/nuestras-oficinas/115">
      <i class="fa-solid fa-headset"></i>
      Lines de atención
    </a>
  </div>
  <div class="btn-icono">
    <a href="/corporativo/directorio-general-funcionarios-fps/192">
      <i class="fa-regular fa-address-book"></i>
      Directorio funcionarios
    </a>
  </div>
  <div class="btn-icono">
    <a href="/corporativo/directorio-de-contratistas-fps/221">
      <i class="fa-regular fa-address-book"></i>
      Directorio contratistas
    </a>
  </div>
  <div class="btn-icono">
    <a href="/participa/pqrs/222">
      <i class="fa-regular fa-comments"></i>
      Peticiones, quejas, Reclamos, Sugerencias, Denuncias y Felicitaciones
    </a>
  </div>
  <div class="btn-icono">
    <!--servicios-de-salud/red-de-prestadores/44-->
    <a href="/servicios-de-salud/red-de-prestadores/44">
      <i class="fa-solid fa-laptop-medical"></i>
      Servicios de salud
    </a>
  </div>
  <div class="btn-icono">
    <a href="/tramites-y-servicios/ventanilla-virtual/55">
      <i class="fa-solid fa-arrow-pointer"></i>
      Ventanilla virtual
    </a>
  </div>
  <div class="btn-icono">
    <a href="/tramites-y-servicios/tramites/54">
      <i class="fa-regular fa-handshake"></i>
      Tramites y servicios
    </a>
  </div>
  <div class="btn-icono">
    <a href="/corporativo/transparencia-y-acceso-a-la-informacion-publica/163">
      <i class="fa-regular fa-rectangle-list"></i>
      Transparecia y acceso a la información
    </a>
  </div>
</div>

<h2 class="titulo-h2 mb-4">MAPA DE PROCESOS</h2>

<img src="\assets\img\entidad\politicasig\MAPA DE PROCESOS FPS.jpg" class="img-fluid" alt="mapa de procesos">
