<h1 class="titulo-h1 mb-4">TALENTO HUMANO</h1>
<P>Encontrará la información relacionada con el personal del Fondo Pasivo Social</P>

<div class="row d-flex justify-content-space-between gap-3">
  <div class="btn-icono ">
    <a href="#">
      <i class="bi bi-telephone"></i>
      Directoria de servidores publicos/contratistas (SIGEP)
    </a>
  </div>
  <div class="btn-icono">
    <a href="#">
      <i class="bi bi-wallet-fill"></i>
      Ofertas de empleo
    </a>
  </div>
  <div class="btn-icono">
    <a href="#">
      <i class="bi bi-person-vcard"></i>
      Hojas de vida
    </a>
  </div>
</div>
