<h1 class="titulo-h1">
  RUTA DE ATENCIÓN INTEGRAL CARDIO CEREBRO VASCULAR Y METABÓLICO
</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>
<ul class="lista-general">
  <li>Valoración Integral por medico Familiar y medico general.</li>
  <li>
    Tamizaje Riesgo Cardiovascular y Metabólico ( Anual)a partir de los 18 años
    o Antes según tipo de Riesgo.
  </li>
</ul>

<h3 class="titulo-h3 mt-4">CONTROLES</h3>
<p>
  Si usted es Diagnosticado con Hipertensión y/o Diabetes Mellitus se encuentra
  controlado su controles serán trimestrales, si su patología no esta controlada
  Sus controles se definirán con su medico tratante.
</p>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>
<ul class="lista-general">
  <li>Valoración por Psicología.</li>
  <li>
    Valoración Por Nutrición (Según frecuencia ordenada por el profesional
    tratante).
  </li>
  <li>Valoración Por Trabajo Social.</li>
  <li>
    Valoración por Rehabilitación y/o terapia física (Según frecuencia ordenada
    por el profesional tratante).
  </li>
  <li>Valoración por odontología.</li>
  <li>Valoración por oftalmología.</li>
  <li>Valoración por enfermería.</li>
</ul>
<p class="mt-4">
  <em
    >Recuerda que el tratamiento puedes ser farmacológico o NO farmacológico y
    este será acordado con el profesional tratante según el tipo patología.</em
  >
</p>
