<div>
  <p class="mb-3 mt-3">
    Al hacer click en el boton "Siguiente" manifiesto que conozco,
    <a
      href="https://www.fps.gov.co/autorizacion_y_tratamiento_de_uso_de_datos_personales"
      target="_blank"
      >acepto y autorizo el tratamiento de uso de datos personales</a
    >
  </p>

  <h1 class="titulo-h1">
    ENCUESTA DE EVALUACIÓN DEL EVENTO DE AUDIENCIA PÚBLICA VIGENCIA 2024
  </h1>

  <div class="row">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScEsxYVWNKXnhZc93dDyxFXWveO8PDxJQE5cUyhjsTLza4zAA/viewform"
      height="1500"
    ></iframe>
  </div>
</div>
