<h1 class="titulo-h1">ENTIDADES QUE NOS REGULAN</h1>
<p>
  Todas las personas en Colombia tienen derecho a verificar que la
  administración pública y los particulares que representan servicios públicos
  cumplan su finalidad social y apliquen de manera transparente y eficiente los
  recursos públicos. Así mismo tienen derecho a verificar que los proyectos que
  ejecuten tengan en cuenta el interés de la comunidad y pueden ejercer acciones
  para lograr que los gobernantes reconozcan los derechos ciudadanos o cumplan
  las obligaciones que legalmente les corresponde. Este derecho y deber es lo
  que conocemos como control ciudadano. ​Las actuaciones del Ministerio de Salud
  y Protección Social en ejercicio de sus funciones y misión son vigiladas por:
</p>
<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.procuraduria.gov.co/Pages/Inicio.aspx"
      target="_blank"
    >
      <div class="row">
        <div class="col-5 imagen">
          <img
            src="/assets/img/logos/Procudaria general de la nacion.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Procuraduría General de la Nación</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.camara.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img
            class="p-3"
            src="/assets/img/logos/Congreso de la republica.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Cámara de Representantes</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row my-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.senado.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img src="/assets/img/logos/Congreso de la republica.png" alt="" />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Congreso de la República</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<p>
  Instancias a las que puede acudir el usuario cuando considere incumplido el
  Plan de Beneficios y no obtenga respuesta a través de los canales de contacto
  dispuestos por el FPSFNC.
</p>
<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.contraloria.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img src="/assets/img/logos/Contraloria.png" alt="" />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Contraloría General de la República</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.supersalud.gov.co/es-co/Paginas/Home.aspx"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img src="/assets/img/logos/supersalud.png" alt="" style="width:101px;"/>
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Superintendencia Nacional de Salud</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.minsalud.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img src="/assets/img/logos/salud.png" alt="" style="width:101px"/>
        </div>
        <div class="col-7 nombre">
        <div>
         <label>Ministerio de Salud y Protección Social</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
