 .row {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .box {
            width: 100%;
            max-width: 900px;
            background: #2ea6bf;
            display: flex;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
border:1px solid #000
        }

        /* LADO IZQUIERDO (LOGO) */
        .box-logo {
            background: white;
            width: 180px;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box-logo img {
            width: 100%;
            max-width: 150px;
        }

        /* LADO DERECHO (TEXTOS) */
        .box-info {
            padding: 20px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .box-info h3 {
            margin: 0;
            font-size: 1.4rem;
        }

        .vertical-bar {
            width: 4px;
            background: #f4ca44;
            margin-right: 12px;
            border-radius: 2px;
        }

        .info-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .extra-texts {
            margin-top: 5px;
            font-size: 0.9rem;
            opacity: 0.95;
        }