<h1 class="titulo-h1">ENTIDADES QUE NOS REGULAN</h1>
<p>
  Todas las personas en Colombia tienen derecho a verificar que la
  administración pública y los particulares que representan servicios públicos
  cumplan su finalidad social y apliquen de manera transparente y eficiente los
  recursos públicos. Así mismo tienen derecho a verificar que los proyectos que
  ejecuten tengan en cuenta el interés de la comunidad y pueden ejercer acciones
  para lograr que los gobernantes reconozcan los derechos ciudadanos o cumplan
  las obligaciones que legalmente les corresponde. Este derecho y deber es lo
  que conocemos como control ciudadano. ​Las actuaciones del Ministerio de Salud
  y Protección Social en ejercicio de sus funciones y misión son vigiladas por:
</p>

<a href="https://www.procuraduria.gov.co/Pages/Inicio.aspx" style="text-decoration: none;" target="_blank">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/Procudaria general de la nacion.png"
            alt="Procuraduría General de la Nación" 
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Procuraduría General de la Nación</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Carrera 5 # 15-80, Bogotá D.C., Colombia</p>
    <p><b>Horario de atención:</b> lunes a viernes, 8 a.m. a 5 p.m., jornada continua</p>
    <p><b>Teléfono conmutador:</b> +57 601 587 8750</p>
    <p><b>Email:</b> procesosjudiciales&#64;procuraduria.gov.co</p>
    <p>La Procuraduría General de la Nación ejerce principalmente control disciplinario</p>
    </div>
    
  </div>
</div>
</a>

<a href="https://www.camara.gov.co/" style="text-decoration: none;" target="_blank">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/Congreso de la republica.png"
            alt="Cámara de Representantes" style="margin-left:-10px"
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Cámara de Representantes</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Edificio Nuevo del Congreso: Carrera 7 No. 8 – 68</p>
    <p><b>Horario de atención:</b>  lunes a viernes de 8:00 am a 5:00 pm</p>
    <p><b>Teléfono conmutador:</b> (+57) (601) 8770720</p>
    <p><b>Email:</b> notificacionesjudiciales&#64;camara.gov.co</p>
    <p>La Cámara de Representantes ejerce Control político (principal)</p>
    </div>
    
  </div>
</div>
</a>


<a href="https://www.senado.gov.co/" style="text-decoration: none;" target="_blank">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/Congreso de la republica.png"
            alt="Congreso de la República" style="margin-left:-10px"
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Congreso de la República</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Edificio Nuevo del Congreso: Carrera 7 No. 8 – 68</p>
    <p><b>Horario de atención:</b>  lunes a viernes de 8:00 am a 5:00 pm</p>
    <p><b>Teléfono conmutador:</b> (57)(601) 3823000 - (57)(601) 3824000 - (57)(601) 3825000</p>
    <p><b>Email:</b> atencionciudadanacongreso&#64;senado.gov.co</p>
    <p>El Senado de la República ejerce principalmente control político</p>
    </div>
    
  </div>
</div>
</a>




<p></p>
<p>
  Instancias a las que puede acudir el usuario cuando considere incumplido el
  Plan de Beneficios y no obtenga respuesta a través de los canales de contacto
  dispuestos por el FPSFNC.
</p>

<a href="https://www.contraloria.gov.co/" style="text-decoration: none;" target="_blank" style="text-decoration: none;">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/logocgr.png"
            alt="Contraloría General de la República"  style="width: 170px;margin-top:30px"
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Contraloría General de la República</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Carrera 69 No 44-35, Bogotá, Colombia</p>
    <p><b>Horario de atención:</b>  lunes a viernes de 8:00 am a 5:00 pm</p>
    <p><b>Teléfono conmutador:</b> (+57) 601 518 7000 / FAX: (+57) 601518 7001</p>
    <p><b>Email:</b>cgr&#64;contraloria.gov.co</p>
    <p>La Contraloría General de la República ejerce Control fiscal (principal)</p>
    </div>
    
  </div>
</div>
</a>

<a href="https://www.supersalud.gov.co/es-co/Paginas/Home.aspx" style="text-decoration: none;" target="_blank" style="text-decoration: none;">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/sps.png"
            alt="Superintendencia Nacional de Salud"  style="width: 170px;margin-top:30px"
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Superintendencia Nacional de Salud</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Carrera 68A N°. 24B - 10, Torre 3, Piso 4, 9 y 10, Edificio Plaza Claro, Bogotá D.C.</p>
    <p><b>Horario de atención:</b>  Lunes a viernes 8:00 a.m. a 4:00 p.m.</p>
    <p><b>Teléfono conmutador:</b> +57 601 722 4000</p>
    <p><b>Email:</b>snsnotificacionesjudiciales&#64;supersalud.gov.co</p>
    <p>La Superintendencia Nacional de Salud ejerce Control regulatorio-operativo</p>
    </div>
    
  </div>
</div>
</a>

<a href="https://www.minsalud.gov.co/" style="text-decoration: none;" target="_blank" style="text-decoration: none;">
    <div class="row m-0 mb-4 news">
  <div class="imagen"><img
            src="/assets/img/logos/salud.png"
            alt="Ministerio de Salud y Protección Social"  style="width: 90px;margin-top:40px;margin-left: 30px;"
          /></div>
  <div class="position-relative descripcion py-3 px-4">
    <div class="header-descripcion pb-2 mb-2">
      <h2>Ministerio de Salud y Protección Social</h2>
    </div>
    <div class="extra-texts">
    <p><b>Dirección:</b> Carrera 13 No. 32-76. Bogotá, Colombia. Código postal 110311</p>
    <p><b>Horario de atención:</b> Lunes - viernes de 8:00 a.m. a 4:00 p.m. jornada continua</p>
    <p><b>Teléfono conmutador:</b> 601 330 5000 - Línea Gratuita fuera de Bogotá: 018000960020</p>
    <p><b>Email:</b>correo&#64;minsalud.gov.co</p>
    <p>El Ministerio de Salud y Protección Social ejerce principalmente Control normativo y regulatorio</p>
    </div>
  </div>
</div>
</a>


  