<h1 class="titulo-h1">
  PROGRAMA DE ATENCIÓN INTEGRAL PARA PERSONAS QUE VIVEN CON VIH
</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>
<ul class="lista-general">
  <li>Valoración por medico familiar o medico general.</li>
  <li>
    Tamizaje de VIH ( Previo consentimiento Informado) Podrán ser Pruebas
    rápidas de 3 o 4 Generación.
  </li>
</ul>

<h3 class="titulo-h3 mt-4">CONTROLES EN PACIENTES DIÁGNOSTICADOS CON CÁNCER</h3>
<ul class="lista-general">
  <li>Ingreso al Programa para personas que viven con VIH</li>
  <li>Valoración inicial por infectología ( en los 3 primeros meses)</li>
  <li>
    Valoración de control por infectología o Medico del Programa (mínimo una vez
    al año)
  </li>
</ul>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>

<ul class="lista-general">
  <li>Valoración por Psicología</li>
  <li>Valoración por Psiquiatría</li>
  <li>Valoración Por Nutrición</li>
  <li>Valoración Por Trabajo Social</li>
  <li>Valoración por Químico farmacéutico</li>
  <li>Valoración por Odontología</li>
  <li>Valoración por Enfermería</li>
</ul>

<p class="mt-4">
  <em
    >Recuerda que el tratamiento será acordado con el medico tratante del
    programa según cada caso inmediatamente sea confirmado el diagnostico.
  </em>
</p>
