<h1 class="titulo-h1">INFORMACIÓN CONTABLE Y FINANCIERA</h1>
<p>
  Para dar cumplimiento a la Ley, FPS publica los informes de las operaciones
  recíprocas que realiza.
</p>
<h2 class="titulo-h2">PRESUPUESTO</h2>
<h3 class="titulo-h3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of presupuesto; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>{{ i + 1 }}</span>
        {{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div *ngFor="let acordion of item.acordion; let j = index">
            <h4 class="titulo-h4">
              <span>{{ j + 1 }}</span>
              {{ acordion.nombre }}
            </h4>
            <div class="mb-3">
              <a
                class="link-file"
                *ngFor="let file of acordion.files"
                href="{{ file.url }}"
                target="_blank"
              >
                <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
                {{ file.nombre }}
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
