<h1 class="titulo-h1">Información al ciudadano</h1>

<p></p>
<div>
  <a
    class="btn-comun"
    type="button"
    href="https://www.cnsc.gov.co/index.php/convocatorias/en-desarrollo"
    target="_blank"
    >Cartilla de información al Usuario</a
  >
</div>
<p><br /></p>

<h4 class="titulo-h4">
  Información Importante: Nuevas fechas para uso de planilla electrónica
</h4>
<p>
  Conozca aquí el Decreto 1765 de 2017 expedido por el ministerio de Salud y
  protección social en el que se definen las nuevas fechas en las cuales los
  aportantes independientes y los pagadores de pensiones que liquidan por
  modalidad asistida, deberán empezar a hacer uso de la modalidad electrónica a
  través de los operadores de información:
</p>

<h4 class="titulo-h4">OPERADORES DE INFORMACIÓN</h4>
<p>
  Un operador de información es la entidad que suministra al aportante de los
  pagos de parafiscales el acceso a la planilla integrada de liquidación de
  aportes PILA y permite el ingreso, modificación, validación y corrección
  posterior de los conceptos detallados de los pagos. A continuación se
  presentan los operadores de información autorizados por el Ministerio de la
  Protección Social. Recuerde que todos los operadores garantizan la conexión
  con los bancos autorizados para el pago de los aportes.
</p>

<table class="table mb-4">
  <thead>
    <tr class="table-primary">
      <th>OPERADOR</th>
      <th>PAGÍNA WEB</th>
      <th>CONTACTO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Asopagos S.A.</td>
      <td>www.asopagos.com</td>
      <td>
        Línea Nacional: 018000 1212 60 <br />
        Bogotá: 487 51 11<br />
        Audio - consulta PIN: 4 89 43 00<br />
        Contacto: correo&#64;ejemplo.com
      </td>
    </tr>
    <tr>
      <td>Banco Agrario</td>
      <td>www.bancoagrario.gov.co</td>
      <td>
        Línea Nacional: 018000 915 000<br />
        Bogotá: 594 85 00
      </td>
    </tr>
    <tr>
      <td>Compensar</td>
      <td>www.miplanilla.com</td>
      <td>
        Línea Nacional: 018000 117 006<br />
        Bogotá: 307 70 06
      </td>
    </tr>
    <tr>
      <td>Coomeva</td>
      <td>www.coomeva.com.co</td>
      <td>
        018000 110 779<br />
        018000 930 779
      </td>
    </tr>
    <tr>
      <td>Arus (enlace operativo)</td>
      <td>www.arus.com.co</td>
      <td>
        Barranquilla: 385 24 44<br />
        Bogotá: 742 44 88<br />
        Cartagena:693 77 27<br />
        Bucaramanga: 697 87 27<br />
        Pereira: 340 13 27<br />
        Manizales: 892 8027<br />
        Cali: 485 94 44<br />
        Medellín: 604 27 27
      </td>
    </tr>
    <tr>
      <td>Fedecajas</td>
      <td>www.fedecajas.com</td>
      <td>
        Línea nacional: 018000 118 466 -<br />
        018000 125 499<br />
        Bogotá: 232 87 71 / 72 / 73
      </td>
    </tr>
    <tr>
      <td>Mi planilla</td>
      <td>www.miplanilla.com</td>
      <td>
        Bogotá: 307 7006<br />
        Línea nacional: 01 8000 117 006
      </td>
    </tr>
    <tr>
      <td>Aportes en Línea</td>
      <td>www.aportesenlinea.com</td>
      <td>
        Líneas empresariales:<br />
        Bogotá: 307 83 33<br />
        Barranquilla: 385 80 90<br />
        Cali: 485 20 50<br />
        Cartagena: 693 40 80<br />
        Medellín: 604 30 10<br />
        Resto del país: 018000 510 245<br /><br />
        Líneas independientes y empleados domésticos:<br />
        Bogotá: 307 80 37<br />
        Barranquilla: 385 20 80<br />
        Cali: 485 39 39<br />
        Cartagena: 693 15 15<br />
        Medellín: 604 10 60<br />
        Ibagué: 277 11 00<br />
        Bucaramanga: 697 09 09<br />
        Resto del país: 018000 524 448
      </td>
    </tr>
    <tr>
      <td>Pago Simple</td>
      <td>www.pagosimple.com</td>
      <td>
        Fonosimple (mesa de ayuda)<br />
        Barranquilla: 3618850<br />
        Medellín: 5146669<br />
        Bogotá 3432949<br />
        Cali: 5540515<br /><br />
        Planilla asistida telefónica PAT<br />
        Barranquilla: 361 88 50<br />
        Medellín: 514 66 69.<br />
        Bogotá 444 66 34 - 348 96 30<br />
        Cali: 554 65 77
      </td>
    </tr>
    <tr>
      <td>Banco de Bogotá</td>
      <td>www.bancodebogota.com</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Banco Popular</td>
      <td>www.bancopopular.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Banco Santander</td>
      <td>www.bancosantander.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Bancolombia</td>
      <td>www.bancolombia.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Citibank</td>
      <td>www.citibank.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Banco GNB Sudameris</td>
      <td>www.gnbsudameris.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>BBVA</td>
      <td>www.bbva.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Banco de Crédito</td>
      <td>www.bancodecredito.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Multibanca Colpatria</td>
      <td>www.colpatria.com</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Banco de Occidente</td>
      <td>www.bancodeoccidente.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>BCSC</td>
      <td>www.bancocajasocial.com.co</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>Davivienda</td>
      <td>www.davivienda.com</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
    <tr>
      <td>AV Villas</td>
      <td>www.bancoavvillas.com</td>
      <td>
        Línea Bogotá: 380 8880<br />
        Línea Medellín: 204 0180<br />
        Línea Nacional: 018000 110 764<br />
      </td>
    </tr>
  </tbody>
</table>

<p>
  Para mayor información comunicarse a la línea telefónica 3817171 extensión 162
  -158 de afiliaciones y compensaciones.
</p>

<h3 class="titulo-h3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
