<div class="container-fluid mb-5 p-0">
  <div class="container p-0">
    <h1 class="titleSection">
      <span class="p-0 pe-2"
        >Ley de Transparencia y Acceso a la Información
      </span>
    </h1>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 p-5 info text-white">
      <div class="px-lg-5">
        <h2 class="mb-4">Ley de Transparencia y Acceso a la Información</h2>
        <p class="fs-4 mb-5">
          Nuestros usuarios<br />
          <b>son la prioridad</b>
        </p>
        <a href="#" class="btn-amarillo">CONOCER MÁS</a>
      </div>
    </div>
    <div class="col-lg-6 p-0 position-relative">
      <img class="img-fluid" src="/assets/img/Home/leyHome/6.jpg" />

      <div class="position-absolute bottom-0 d-none d-lg-block mujer">
        <img
          class="col-8"
          src="/assets/img/Home/leyHome/aym_ley_tra_mujer.png"
        />
      </div>
    </div>
  </div>
</div>
