<h1 class="titulo-h1">ESTADOS FINANCIEROS</h1>

<p>
  La publicación mensual de los Estados Financieros Comparativos del Fondo de
  Pasivo Social de Ferrocarriles Nacionales de Colombia se realiza en
  cumplimiento de los dispuesto en la Resolución 182 del 19 de mayo de 2017
  expedida por la Contaduría General de la Nación.
</p>

<h3 class="titulo-h3 mt-4">
  <span class="icon govco-server"></span>
  Listado de documentos
</h3>

<div ngbAccordion [closeOthers]="true">
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let acordion of files; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>{{ i + 1 }}</span
        >{{ acordion.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div
            class="mb-4"
            *ngFor="let acordionInterno of acordion.acordion; let j = index"
          >
            <h4 class="titulo-h4">
              <span>{{ j + 1 }}</span> {{ acordionInterno.nombre }}
            </h4>
            <div *ngFor="let file of acordionInterno.files; let k = index">
              <a class="link-file" target="_blank" href="{{ file.url }}">
                <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
                {{ file.nombre }}
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
