<h1 class="titulo-h1">ADULTEZ</h1>

<p>
  Comprende desde los 29 años hasta los 59 años, 11 meses y 29 días, donde se
  desarrolla la capacidad de establecer y poner en marcha recursos necesarios
  para alcanzarlos.
</p>

<h3 class="titulo-h3 mt-4">
  ATENCIÓN POR MEDICINA GENERAL, FAMILIAR O PEDIATRÍA
</h3>
<ul class="lista-general">
  <li>29 años a 34 años</li>
  <li>35 años a 39 años</li>
  <li>40 años - 44 años</li>
  <li>45 años a 49 años</li>
  <li>50 años a 52 años</li>
  <li>53 años a 55 años</li>
  <li>56 a 59 años</li>
</ul>

<h3 class="titulo-h3 mt-4">PROTECCIÓN ESPECÍFICA</h3>
<ul class="lista-general">
  <li>Atención por odontología</li>
  <li>Vacunación</li>
  <li>Planificación Familiar</li>
</ul>

<h3 class="titulo-h3 mt-4">DETECCIÓN TEMPRANA</h3>
<ul class="lista-general">
  <li>Tamizaje para riesgo cardiovascular</li>
  <li>Tamizaje para cáncer de cuello uterino</li>
  <li>Tamizaje para cáncer de mama</li>
  <li>Tamizaje para cáncer de próstata</li>
  <li>Tamizaje para cáncer de colon</li>
</ul>
