<div class="search-govco">
  <div class="bar-search-govco">
    <input
      type="text"
      placeholder="Buscar"
      class="input-search-govco"
      aria-label="Buscador"
    />
    <button
      class="icon-search-govco icon-close-search-govco"
      aria-label="Limpiar"
    ></button>
    <div
      class="icon-search-govco search-icon-search-govco"
      aria-hidden="true"
    ></div>
  </div>
  <!-- <div class="container-options-search-govco">
    <div class="options-search-govco">
      <ul>
        <li>
          <a href="#" tabindex="-1"
            >Sugerencia de búsqueda con la palabra
            <strong>Componente 1</strong></a
          >
        </li>
        <li>
          <a href="#" tabindex="-1"
            >Sugerencia de búsqueda con la palabra
            <strong>Componente 1</strong></a
          >
        </li>
        <li>
          <a href="#" tabindex="-1"
            >Sugerencia de búsqueda con la palabra
            <strong>Componente 1</strong></a
          >
        </li>
        <li>
          <a href="#" tabindex="-1"
            >Sugerencia de búsqueda con la palabra
            <strong>Componente 1</strong></a
          >
        </li>
      </ul>
    </div>
  </div> -->
</div>
