<header class="bg-white {{ tipo }}" id="header">
  <app-topbar id="topbar"></app-topbar>
  <div class="row m-0 div-superior bg-white" id="logos">

    <!-- LOGO - Izquierda en pantallas grandes -->
    <div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-start p-2">
      <a href="/" rel="home">
        <img src="assets/img/logos/logo_fps.svg" class="logo" />
      </a>
    </div>

    <!-- BUSCADOR - Derecha en pantallas grandes -->
    <div class="d-none d-lg-flex col-lg-8 align-items-center justify-content-end p-2">
      <app-search class="col-12 col-sm-8 col-lg-6"></app-search>
    </div>

    <!-- Para móviles (logo centrado) -->
    <div class="d-flex d-lg-none py-2 align-items-center div-logo justify-content-center w-100">
      <a href="/" rel="home">
        <img src="assets/img/logos/logo_fps.svg" class="logo" />
      </a>
    </div>

  </div>
  <app-menu></app-menu>
</header>

