<div class="modal-header align-items-baseline p-4">
  <div class="titulo">
    <h2 class="titulo-h2 mb-0">{{ video.titulo }}</h2>
    <span class="fecha">{{ video.fecha }}</span>
  </div>
  <button
    type="button"
    class="btn-close p-0 me-0"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body p-4">
  <p>{{ video.descripcion }}</p>
  <div class="ratio ratio-16x9">
    <iframe
      width="560"
      height="315"
      [src]="urlYoutube"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
