@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:host {
  font-family: 'Work Sans', sans-serif;
}

/* Quitar sombra de los inputs al hacer foco */
.custom-input:focus {
  box-shadow: none;
  border-color: #2A9EBD; /* coincide con el color del header */
}