<h1 class="titulo-h1">ADOLESCENCIA</h1>

<p>
  Comprende desde los 12 años hasta los 17 años, 11 meses y 29 días, dando
  caracterización a procesos psicosociales neurocognitivos y de características
  sexuales.
</p>

<h3 class="titulo-h3 mt-4">
  ATENCIÓN POR MEDICINA GENERAL, FAMILIAR O PEDIATRÍA
</h3>
<ul class="lista-general">
  <li>12 años</li>
  <li>14 años</li>
  <li>16 años</li>
</ul>

<h3 class="titulo-h3 mt-4">ATENCIÓN POR ENFERMERÍA</h3>
<ul class="lista-general">
  <li>13 años</li>
  <li>15 años</li>
  <li>17 años</li>
</ul>

<h3 class="titulo-h3 mt-4">PROTECCIÓN ESPECÍFICA</h3>
<ul class="lista-general">
  <li>Atención por odontología</li>
  <li>Vacunación</li>
  <li>Planificación Familiar</li>
</ul>

<h3 class="titulo-h3 mt-4">DETECCIÓN TEMPRANA</h3>
<ul class="lista-general">
  <li>Tamizaje para anemia (una vez de 10 a 13 años, o de 14 a 17 años)</li>
</ul>
