<h1 class="titulo-h1 mb-4">RUTA DE PROMOCIÓN Y MANTENIMIENTO DE LA SALUD</h1>
<p>
  En este módulo encontrará las orientaciones sobre acciones que los pueden
  proteger de las enfermedades como la vacunación y como detectar tempranamente
  alteraciones dependiendo de la edad en la que nos encontremos con el fin de
  intentar corregirlas con apoyo de nuestros servicios de salud.
</p>
<h3 class="titulo-h3 my-4">Actividades de promoción y prevención</h3>

<div class="row">

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen pri">
    <div>
      <h5 >
        Primera infancia <br/>
        7 días - 5 años
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/250">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen infancia">
    <div>
      <h5 >
        Infancia <br/>
        6 - 11 años
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/251">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen adolescencia">

    <div>
      <h5 >
        Adolescencia <br/>
        12 - 17 años
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/252">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen juventud">
    <div>
      <h5 >
        Juventud <br/>
        18 - 28 años
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/253">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen adultez">

    <div>
      <h5 >
        Adultez <br/>
        29 - 59 años
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/254">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen vejez">

    <div>
      <h5 >
        Vejez <br/>
        60 años en adelante
      </h5>
      <a class="btn-azul-o" href="/servicios-de-salud/programa-de-promocion-y-prevencion/255">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
     </div>
  </div>
</div>

<h3  class="titulo-h3 my-4">Información de interés para su salud</h3>
<h3 class="titulo-h3">
  <span class="icon govco-server"></span>
  Listado de documentos
</h3>


<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of items; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <a
            *ngFor="let file of item.files"
            class="link-file"
            href="{{ file.url }}"
            target="_blank"
            >
            <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
            {{ file.nombre }}
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
