<h1 class="titulo-h1 mb-4">SERVICIOS DE SALUD</h1>
<a class="btn-comun mb-4" type="button" href="../afiliados/242.html">
  Carta de derechos y deberes de la persona afiliada y el paciente
</a>

<h3 class="titulo-h3 mb-4">COBERTURA DE OPERACIÓN Y RED  DE PRESTADORES DE SALUD</h3>

<p>
  El Fondo de Pasivo Social de Ferrocarriles Nacionales
  de Colombia, cuenta con un modelo de atención en salud
  que se brinda a través de sus operadores de salud y Centros
   Médicos, para la prestación de servicios integrales en el primer
  nivel de atención. A continuación te encontrarás el listado de las zonas de operación, discriminado por departamentos y municipios.
</p>

<a class="btn-comun mb-4 d-none" type="button" href="/assets/files/salud/red de prestadores/CARTA%20DERECHOS%20Y%20DEBERES.pdf" target="_blank">
  CARTA DE DERECHOS Y DEBERES
</a>
<a class="btn-comun mb-4 d-none" type="button" href="./assets/files/salud/red de prestadores/Datos%20resoluci%c3%b3n%201552%20Enero%20a%20Abril%202021.xlsx" target="_blank">
  DATOS RESOLUCIÓN 1552 ENERO - ABRIL 2021
</a>

<div class="row m-4">
  <div class="col-lg-8 " style="justify-content: center;">
    <img src="/assets/img/Home/saludHome/mapa.png" />
  </div>
  <div class=" col col-lg-4">
    <h2 class="titulo-h2 mb-4">COBERTURA DE OPERACIÓN Y RED DE PRESTADORES DE SALUD</h2>
    <h3 class="titulo-h3 mb-4">División Norte</h3>
    <a class="btn-comun mb-2" type="button" href="../zona-costa/105.html">
      Zona Costa
    </a>
    <a class="btn-comun mb-2" type="button" href="../zona-antioquia/159.html">
      Zona antioquia
    </a>
    <a class="btn-comun mb-4" type="button" href="../zona-cesar-santander/108.html">
      Zona Cesar Santander
    </a>

    <h3 class="titulo-h3 mb-4">División Sur</h3>
    <a class="btn-comun mb-2" type="button" href="../zona-centro/160.html">
      Zona Centro
    </a>
    <a class="btn-comun mb-2" type="button" href="../zona-cafetera/267.html">
      Zona Cafetera
    </a>
    <a class="btn-comun mb-2" type="button" href="../zona-pacifico/106.html">
      Zona Pacifico
    </a>
  </div>
</div>
