<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe 
    src="https://www.youtube.com/embed/y4qAYFxwKK4?si=dmeX6QaU8w1UUxVl" 
    title="YouTube video player" 
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
  </iframe>
</div>
<!--<ngb-carousel
  #carousel
  [interval]="10000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
  class="slyder bg-azul"
>
  @for (slide of slider; track slide) {
  <ng-template ngbSlide>
    <a href="{{ slide.url }}" rel="nofollow noopener noreferrer">
      <img class="col-12" [src]="slide.imagen" />
    </a>
  </ng-template>
  }
</ngb-carousel>-->
