<h1 class="titulo-h1">VENTANILLA VIRTUAL</h1>
<h3 class="titulo-h3">Bienvenido<br /><br />Aplicaciones Disponibles</h3>
<div class="row mb-3">
  <div class="col-lg-6">
    <div class="">
      <a
        class="btn-comun"
        href="https://devintranet.fps.gov.co/login"
        target="_blank"
      >
        BOLETINES DE PAGO EN LÍNEA
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <a
      class="btn-comun"
      href="http://132.255.23.82/query_pensionado1temp.asp"
      target="_blank"
      >CERTIFICADOS DE PENSIÓN</a
    >
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <a
      class="btn-comun"
      href="http://132.255.23.82/query_certificado.asp"
      target="_blank"
      >CERTIFICADO AFILIADO SERVICIO SALUD</a
    >
  </div>
  <div class="col-lg-6">
    <a
      class="btn-comun"
      href="http://132.255.23.82/certificado_dianformtemp.asp"
      target="_blank"
      >CERTIFICADO DE INGRESOS Y RETENCIONES</a
    >
  </div>
</div>
