<h1 class="titulo-h1">VENTANILLA VIRTUAL</h1>
<h3 class="titulo-h3">Bienvenido<br /><br />Aplicaciones Disponibles</h3>
<div class="row mb-3">
  <div class="col-lg-6">
    <div class="">
      <a class="btn-comun" href="#" target="_blank" style="width: 100%">
        BOLETINES DE PAGO EN LÍNEA
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <a class="btn-comun" href="#" target="_blank" style="width: 100%"
      >CERTIFICADOS DE PENSIÓN</a
    >
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <a class="btn-comun" href="#" target="_blank" style="width: 100%"
      >CERTIFICADO AFILIADO SERVICIO SALUD</a
    >
  </div>
  <div class="col-lg-6">
    <a class="btn-comun" href="#" target="_blank" style="width: 100%"
      >CERTIFICADO DE INGRESOS Y RETENCIONES</a
    >
  </div>
</div>
