<h1 class="titulo-h1">INFORME CONSOLIDADO GESTIÓN PRESTACIONES ECONOMICAS</h1>
<p>
  Aquí encontrará los Informe Consolidados de Gestión Prestaciones Económicas
  del Fondo Pasivo Social.
</p>
<a
  class="link-file"
  href="/assets/files/consolidado_gestion_prestaciones/FORMATOACTUALIZACIONDATOS.doc"
  target="_blank"
  ><i class="bi bi-file-earmark-word-fill"></i>Formato de actualización de datos
  personales</a
>
<a
  class="link-file"
  href="/assets/files/consolidado_gestion_prestaciones/PresentacionAsignacionRenovaCodigoDescuento.pdf"
  target="_blank"
  ><i class="bi bi-file-earmark-pdf-fill"></i>Presentación reunión informativa
  para asignación, renovación o suspensión de código para descuento</a
>
<h3 class="titulo-h3 mt-3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of items; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>{{ i + 1 }}</span
        >{{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <a
            *ngFor="let file of item.files"
            class="link-file"
            href="{{ file.url }}"
            target="_blank"
            ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
            >{{ file.nombre }}</a
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>
