  html {
    font-size: 100%; /* 100% = 16px */
  }
  
  .barra-superior-govco {
    background-color: var(--azul);
    width: 100%;
    height: 3rem;
    padding-left: 4.375rem;
  }
  
  .barra-superior-govco a {
    content: url(https://cdn.www.gov.co/assets/images/logo.svg);
    height: 1.875rem;
    width: 8.5rem;
  }
  
  .barra-superior-govco a:focus-visible {
    outline: max(0.125rem, 0.15em) solid white;
    border-radius: 0.313rem;
  }
  
  .barra-superior-govco .idioma-icon-barra-superior-govco {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.313rem;
    background-color: white;
    cursor: pointer;
    padding: 0;
    border: 0.125rem solid white;
    font-size: 0.5rem;
    position: absolute;
    right: 5.375rem;
  }
  
  .barra-superior-govco .idioma-icon-barra-superior-govco:hover {
    background-color: var(--azul-o);
  }
  
  .barra-superior-govco .idioma-icon-barra-superior-govco:focus {
    outline: max(0.125rem, 0.15em) solid white;
    outline-offset: max(0.188rem, 0.15em);
  }
  
  .barra-superior-govco .idioma-icon-barra-superior-govco::before {
    font-family: "govco-font";
    content: '\ec56';
    color: var(--azul);
    font-size: 0.9rem;
  }
  
  .barra-superior-govco .idioma-icon-barra-superior-govco:hover::before {
    color: white;
  }
  
  @media (max-width: 991px) {
    .barra-superior-govco {
      justify-content: center;
      padding: 0;
    }
  
    .barra-superior-govco .idioma-icon-barra-superior-govco  {
      right: 1rem;
    }
  }