<h1 class="titulo-h1">JUVENTUD</h1>

<p>
  Comprende desde los 18 años hasta los 28 años, 11 meses y 29 días, tomando
  autonomía intectual, física, moral, económica social y cultural colcocando en
  evidencia actitudes de seguridad.
</p>

<h3 class="titulo-h3 mt-4">
  ATENCIÓN POR MEDICINA GENERAL, FAMILIAR O PEDIATRÍA
</h3>
<ul class="lista-general">
  <li>18 años a 23 años</li>
  <li>24 años a 28 años</li>
</ul>

<h3 class="titulo-h3 mt-4">PROTECCIÓN ESPECÍFICA</h3>
<ul class="lista-general">
  <li>Atención por odontología</li>
  <li>Vacunación</li>
  <li>Planificación Familiar</li>
</ul>

<h3 class="titulo-h3 mt-4">DETECCIÓN TEMPRANA</h3>
<ul class="lista-general">
  <li>Tamizaje para riesgo cardiovascular</li>
  <li>Tamizaje para cáncer de cuello uterino</li>
</ul>
