<h1 class="titulo-h1">
  PARTICIPACIÓN PARA EL DIAGNÓSTICO DE NECESIDADES E IDENTIFICACIÓN DE PROBLEMAS
</h1>

<p class="title_p">
  Peticiones, Quejas, Reclamos, Sugerencias, Denuncias y Felicitaciones
  (PQRSDF).
</p>
<p>
  La entidad ha dispuesto los siguientes componentes de comunicación, donde
  puedes encontrar lo referente a la participación ciudadana del Fondo de Pasivo
  Social Ferracorriles Nacionales de Colombia.<br />
  <br />
  <b>Peticiones:</b> En FPS estamos atentos a recibir y resolver sus derechos de
  petición por favor sea lo más claro posible.
  <br />
  <b>Quejas:</b> En este módulo, usted podrá interponer una Queja sobre el
  comportamiento de los funcionarios de nuestra institución.
  <br />
  <b>Reclamos:</b> En este módulo usted podrá interponer una reclamación sobre
  el incumplimiento o irregularidad de alguna de las características de los
  servicios ofrecidos por FPS.
  <br />
  <b>Sugerencias:</b> En este módulo, usted podrá exponer alternativas que nos
  permitan establecer planes de mejoramiento en nuestros servicio y alcanzar la
  excelencia en el mismo. Recuerde que por medio de este canal no se le podrá
  dar ninguna respuesta.
  <br />
  <b>Denuncias:</b> En este módulo, usted podrá poner en conocimiento un acto de
  corrupción de uno de nuestros funcionarios.
  <br />
  <b>Felicitaciones:</b> En este módulo, usted podrá enviarnos felicitaciones.
  <br />
  <b>Solicitud de Información Pública:</b> Es el requerimiento que hace el
  ciudadano a una o varias Entidades, con el fin que se le brinde información
  relacionada con los servicios propios de cada Entidad.
  <br />
  <b>Encuesta de Satisfacción:</b> Aquí podrá diligenciar la encuesta de
  satisfacción, sobre los servicios que le hemos prestado.
  <br />
  <b>Actualización de Datos:</b> Aquí podrá diligenciar nuestro formulario y
  mantener su información y/o datos actualizados.
</p>

<section class="mt-4 mb-4">
  <a
    class="btn-comun-b mb-4"
    type="button"
    href="/atencion-al-usuario/canal-de-interaccion-de-liberatoria-para-la-participacion-ciudadana/240"
  >
    <span class="icon icon-documento"></span>
    Canal de interacción de libertad para la participación ciudadana
  </a>
  <a
    class="btn-comun-b mb-4"
    type="button"
    href="/corporativo/planeacion,-gestion-y-control/53"
  >
    <span class="icon icon-documento"></span>
    Caracterizaciópn de usuarios y grupo de valor
  </a>
  <a
    class="btn-comun-b mb-4"
    type="button"
    href="/corporativo/asociaciones-ferrocarriles/249"
  >
    <span class="icon icon-documento"></span>
    Asociaciones ferrocarriles
  </a>
  <a
    class="link-file"
    href="/assets/files/participa/01%20Publicaci%c3%b3n%20temas%20de%20inter%c3%a9s/AVANCE%20PLAN%20SISTEMA%20INTEGRADO%20DE%20GESTION%20-%20MIPG%202023.pdf"
    target="_blank"
    ><i class="bi bi-file-earmark-pdf-fill"></i>Avance de plan de sistema
    integrado de gestion -MIPG 2023</a
  >
</section>

<section>
  <div class="d-flex justify-content-center">
    <div class="row m-0 gap-3">
      <div class="btn-icono">
        <a href="/atencion-al-usuario/peticiones/6">
          <i class="fa-solid fa-file-arrow-up"></i>
          PETICIONES
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/quejas/7">
          <i class="fa-solid fa-face-frown"></i>
          QUEJAS
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/reclamos/8">
          <i class="fa-solid fa-comment-dots"></i>
          RECLAMOS
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/sugerencias/4">
          <i class="fa-solid fa-rectangle-list"></i>
          SUGERENCIAS
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/denuncias/5">
          <i class="fa-solid fa-thumbs-down"></i>
          DENUNCIAS
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/felicitaciones/3">
          <i class="fa-solid fa-medal"></i>
          FELICITACIONES
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/solicitud-de-informacion-publica/9">
          <i class="fa-solid fa-address-card"></i>
          SOLICITUD DE INFORMACIÓN PUBLICA
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/encuesta-de-satisfaccion/214">
          <i class="fa-solid fa-list-check"></i>
          ENCUESTA DE SATISFACCIÓN
        </a>
      </div>
      <div class="btn-icono">
        <a href="/atencion-al-usuario/actualizacion-de-datos/213">
          <i class="fa-solid fa-id-badge"></i>
          ACTUALIZACIÓN DE DATOS
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <h3 class="titulo-h3 mt-4">
    <span class="icon govco-server"></span>Listado de documentos
  </h3>
  <div ngbAccordion>
    <div
      ngbAccordionItem
      [collapsed]="true"
      *ngFor="let item of items; let i = index"
    >
      <div ngbAccordionHeader>
        <button ngbAccordionButton>
          <span>{{ i + 1 }}</span
          >{{ item.nombre }}
        </button>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <a
              *ngFor="let file of item.files"
              class="link-file"
              href="{{ file.url }}"
              target="_blank"
              ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
              >{{ file.nombre }}</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
