.accordion {
    width: 100%;
}

.accordion-header {

    a,
    button {
        font-size: 1rem;
        font-family: "WorkSans-Bold";
        text-decoration: none;
        border: 0;
        padding: 0;
        min-height: auto;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        span {
            font-family: "govco-font";
            border-radius: 0;
            width: auto;
            height: auto;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
        }
    }

    .collapsed,
    .collapsed span {
        color: var(--azul-o);
    }
}

.accordion-header a:not(.collapsed),
.accordion-header a:not(.collapsed) span,
.accordion-header button:not(.collapsed),
.accordion-header button:not(.collapsed) span,
.accordion-collapse .link:hover,
.accordion-collapse .link.active {
    color: var(--azul-t);
}

.accordion-collapse {
    border: 0;

    .link {
        padding: 0;
        text-decoration: 0;
        color: var(--gris-o);
        transition: all 0.3s ease-in-out;
        display: block;
        line-height: 1.2rem;
    }
}


.icon-home::after {
    content: '\e9d4';
}

.icon-informes::after {
    content: '\ea73';
}

.icon-entidad::after {
    content: '\e977';
}

.icon-usuarios::after {
    content: '\ebaa';
}

.icon-mano::after {
    content: '\e9aa';
}

.icon-prensa::after {
    content: '\ea5e';
}

.icon-salud::after {
    content: '\ea05';
}

.icon-financiera::after {
    content: '\e9a5';
}

.icon-normativa::before {
    content: "\ec18";
}

.icon-tramites::before {
    content: "\e953";
}

.icon-informacion::before {
    content: "\e85e";
}