<h1 class="titulo-h1">
  RUTA DE ATENCIÓN INTEGRAL SALUD MENTAL Y CONSUMO DE SUSTANCIAS PSICOACTIVAS
</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>
<ul class="lista-general">
  <li>Valoración Integral por Medico Familiar o medico general.</li>
  <li>
    Tamizaje SRQ, RQC, APGAR FAMILIAR, MINI- MENTAL STATE, AUDIT, ASSIST,
    FAMILIOGRAMA , ECOMAPA (Anual) según curso de vida.
  </li>
</ul>
<h3 class="titulo-h3 mt-4">CONTROLES</h3>
<p>
  Si usted es Diagnosticado con alguna alteración mental, trastorno mental o
  consumo de sustancias psicoactivas sus controles se realizaran de acuerdo a la
  indicación del profesional tratante.
</p>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>
<ul class="lista-general">
  <li>Geriatría ( Según el Caso).</li>
  <li>Pediatría ( Hasta los 17 años).</li>
  <li>Ginecología y Obstetricia.</li>
  <li>Psicología.</li>
  <li>Enfermería.</li>
  <li>Trabajo Social.</li>
  <li>Terapia Ocupacional.</li>
  <li>Nutrición y Dietética.</li>
  <li>Fonoaudiología.</li>
  <li>Odontología general.</li>
  <li>Optometría.</li>
</ul>
<p class="mt-4">
  <em
    >Recuerda que el tratamiento puedes ser farmacológico o NO farmacológico y
    este será acordado con el profesional tratante según su Diagnostico.
  </em>
</p>
