<div class="container my-5">
  <div class="row">
    <div class="col-lg-5 p-0">
      <div class="row px-2 justify-content-center mt-3 gap-3">
        <div class="btn-icono-c">
          <a href="#">
            <span class="icon-normativa icon"></span>
            NORMATIVIDAD
          </a>
        </div>
        <div class="btn-icono-c">
          <a href="#">
            <span class="icon-rendicion icon"></span>
            RENDICION DE CUENTAS
          </a>
        </div>
      </div>
      <div class="row px-2 justify-content-center mt-3 gap-3">
        <div class="btn-icono-c">
          <a href="#">
            <span class="icon-anticorrupcion icon"></span>
            PLAN ANTICORRUPCIÓN
          </a>
        </div>
        <div class="btn-icono-c">
          <a href="#">
            <span class="icon-peticiones icon"></span>
            PETICIONES, QUEJAS Y RECLAMOS
          </a>
        </div>
        <div class="btn-icono-c">
          <a href="#">
            <span class="icon-contratacion icon"></span>
            CONTRATACION
          </a>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-flex justify-content-center col-2">
      <div class="borde-sombra"></div>
    </div>
    <div class="row col-lg-5 align-items-center mt-5 mt-lg-0">
      <div>
        <button class="btn-comun mb-4" type="button">
          <span class="icon icon-documento"></span> Certificados
        </button>
        <button class="btn-comun mb-4" type="button">
          <span class="icon icon-invoice"></span> Boletines de pago
        </button>
        <button class="btn-comun mb-4" type="button">
          <span class="icon icon-documento"></span> Formatos
        </button>
        <button class="btn-comun" type="button">
          <span class="icon icon-download"></span> Trámites
        </button>
      </div>
    </div>
  </div>
</div>
