<h1 class="titulo-h1">FORO</h1>
<h3 class="titulo-h3">
  AUDIENCIA PÚBLICA DE RENDICIÓN DE CUENTAS VIGENCIA 2024
</h3>
<p>
  Buenos días, Usuarios, ciudadanía y demás grupos de interés del servicio que
  presta el Fondo de Pasivo Social - Ferrocarriles Nacionales de Colombia, damos
  la bienvenida a todos los que participarán en nuestra AUDIENCIA PÚBLICA DE
  RENDICIÓN DE CUENTAS, espacio que nos permitirá tratar los temas concernientes
  a la gestión vigencia 2024, recomendaciones y observaciones recibidas.
</p>
<h5 class="titulo-h5 pt-3 mb-2">
  <span>
    <i class="fa-regular fa-comment-dots"></i>
    COMENTARIOS
  </span>
</h5>

<!--<div class="formulario-comentario mt-4 p-3 border rounded bg-light">
  <h5>Agregar un comentario</h5>

  <form (ngSubmit)="enviarComentario()" #formComentario="ngForm">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        name="nombre_usu"
        [(ngModel)]="nuevoComentario.nombre_usu"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="nuevoComentario.email"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input
        type="text"
        class="form-control"
        name="telefono"
        [(ngModel)]="nuevoComentario.telefono"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Comentario</label>
      <textarea
        class="form-control"
        name="comentario"
        rows="3"
        [(ngModel)]="nuevoComentario.comentario"
        required
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formComentario.invalid">
      Enviar Comentario
    </button>
  </form>
</div>
<div *ngFor="let comentario of comentarios" class="py-3 separador">
  <div class="comment position-relative">
    <div class="header-comment mx-3 pt-3 d-flex justify-content-between">
      <label class="col-6">Comentario</label>
      <strong class="text-end">N° {{ comentario.id }}</strong>
    </div>

    <div class="body-comment p-3 col-12 d-flex">
      <i class="fa-sharp fa-regular fa-circle-user me-2"></i>
      <div class="contenido w-100">
        <div class="user mb-2">
          <span><strong>Usuario:</strong> {{ comentario.nombre_usu }}</span><br>
          <span><strong>Teléfono:</strong> {{ comentario.telefono }}</span><br>
          <span><strong>Correo:</strong> {{ comentario.email }}</span>
        </div>
        <p class="m-0">
          {{ comentario.comentario }}
        </p>

       
        <p class="text-end mt-2 mb-0">
          <small>{{ comentario.created}}</small>
        </p>
      </div>
    </div>
  </div>
</div>-->





