<h1 class="titulo-h1 mb-4">MISIÓN Y VISIÓN</h1>
<h3 class="titulo-h3 mb-4">MISIÓN</h3>
<p class="mb-4 text-align-justify">
  El Fondo de Pasivo Social de Ferrocarriles Nacionales de Colombia  como establecimiento público del orden Nacional,
  adaptado en salud  y adscrito al Ministerio de Salud y Protección Social,  reconoce, organiza y
  administra prestaciones económicas legales y convencionales y los servicios de salud a los extrabajadores,
  pensionados y beneficiarios de las liquidadas empresas Ferrocarriles Nacionales de Colombia y Puertos de Colombia respectivamente,
  brindando servicios integrales con calidad, oportunidad y transparencia, en cumplimiento de la normatividad legal vigente.
</p>
<h3 class="titulo-h3 mb-4">VISIÓN</h3>
<p class="mb-4 text-align-justify">
  El Fondo de Pasivo Social de Ferrocarriles Nacionales de Colombia, será reconocido en el 2033, por el estado
  colombiano por haber logrado la acreditación en la atención integral en salud a los afiliados, contribuyendo
  con la sostenibilidad del Sistema de Seguridad Social y Gestor de Pasivos de la Nación brindando un servicio
  con mayor calidad, oportunidad y eficiencia contribuyendo con las políticas de gestión pública, para el
  cumplimiento de los fines esenciales del Estado.
</p>
