<h1 class="titulo-h1 mb-4">GESTIÓN DOCUMENTAL</h1>
<p>
  En ejercicio del Principio de Transparencia, en este espacio se pone, a
  disposición de la ciudadanía, información sobre la Gestión Documental del
  Ministerio Salud y Protección Social, que incluye el Programa de Gestión
  Documental, el Cuadro de Clasificación Documental, las Tablas de Retención
  Documental y los Inventario Documentales; instrumentos que fortalecen la
  gestión administrativa de la entidad, y garantizan el acceso a los documentos
  e información pública.
</p>

<div class="btn-icono mt-4 mb-4">
  <a href="https://vocabularyserver.com/fnc/" target="_blank">
    <i class="bi bi-file-text-fill"></i>
    Banco Terminológico <br />FPS-FNC
  </a>
</div>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\APGDOGCDPL02 PROGRAMA DE GESTION DOCUMENTAL 2023 V3.pdf"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Programa de gestión documental (PGD)
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\PLAN_INSTITU_ARCHIVO_FPS.pdf"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Plan institucional de archivo (PINAR)
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\FORMATO_PINAR.xls"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Formato
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\1_Tabla Retencion Documental FPS - FNC.xlsx"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Tablas de retención documental (TRD)
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Resolución 1124
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Resolución 0736
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\RESOLUCION 0119 DE 2022 ADOPCION DE LAS TRD EN FPS.pdf"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Resolución 0119
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\APGDOSGEPO01 POLITICA DE ARCHIVOS Y GESTION DOCUMENTAL 2023 V2.pdf"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Politica de gestión documental
</a>

<a
  class="link-file"
  href="\assets\files\corporativo\gestion-documental\CCD CUADRO DE CLASIFICACION DOCUMENTAL(1).xlsx"
  target="_blank"
>
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Cuadro de clasificación documental
</a>

<a class="link-file" href="https://vocabularyserver.com/fnc/" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Banco terminologico FPS-FNC
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Invetario documental
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Transferencias Documentales
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Tablas de Valoración Documental (TVD)
</a>

<a class="link-file disabled" href="" target="_blank">
  <i class="bi bi-file-earmark-pdf-fill"></i>
  Tablas de Control de Acceso
</a>
