<div class="container p-0">
  <h1 class="titleSection"><span class="p-0 pe-2">Multimedia</span></h1>
  <div class="row my-5">
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/dz7jgOrTZFY?si=dYMD9EjWHicpoQ2L"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p>
            <b
              >FORO VIRTUAL DE RENDICION DE CUENTAS VIGENCIA 2020 – FPS – FNC</b
            >
          </p>
          <label>24 FEBRERO 2022</label>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/lnsi7Utcaug?si=nPNKqiH56kfqOqNC"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p>
            <b>El FPS planta para respirar</b>
          </p>
          <label>24 FEBRERO 2022</label>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="card text-white">
        <div class="card-body p-0">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/a3b4lWGVCH0?si=KMNCWM0TEFgKhZlj"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="card-footer">
          <p>
            <b>FPS: labor, misión y visión</b>
          </p>
          <label>26 FEBRERO 2022</label>
        </div>
      </div>
    </div>
  </div>
</div>
