<h1 class="titulo-h1">DIRECTORIO GENERAL FUNCIONARIOS FPS</h1>

<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let funcionario of funcionarios; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        {{ funcionario.name }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>NOMBRE</th>
                  <th>CARGO</th>
                  <th>CORREO ELECTRÓNICO</th>
                  <th>UBICACIÓN / SEDE</th>
                  <th>CIUDAD</th>
                  <th>EXTENSIÓN</th>
                  <th>HOJA DE VIDA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let people of funcionario.people; let i = index">
                  <td>{{ people.name }}</td>
                  <td>{{ people.position }}</td>
                  <td>
                    <a
                      *ngIf="people.email.includes('@'); else elseBlock"
                      href="mailto:{{ people.email }}"
                      >{{ people.email }}</a
                    >
                    <ng-template #elseBlock>
                      <p>N/A</p>
                    </ng-template>
                  </td>
                 
                  <td>{{ people.location }}</td>
                  <td>{{ people.city }}</td>
                  <td>{{ people.phone }}</td>
                   <td> <a href="{{ people.hv }}" target="_blank" style="color:#2A9EBD"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
</svg></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
