<div>
  <h1 class="titulo-h1">CANAL DE ATENCIÓN SERVICIOS DE SALUD</h1>

  <p>
    <a
      class="link-file"
      href="https://www.fps.gov.co/servicios-de-salud/afiliados/242"
      target="_blank"
      ><i class="bi bi-file-earmark-pdf-fill"></i> CARTA DE DERECHOS Y DEBERES
      DE LA PERSONA AFILIADA Y EL PACIENTE</a
    >
  </p>
  <p>
    <a
      class="link-file"
      target="_blank"
      href="https://www.youtube.com/watch?v=ZbRB_C9qebs"
      ><i class="fas fa-youtube"></i> INTRODUCCIÓN APLICATIVO HORUS HEALTH</a
    >
  </p>

  <p>
    <a
      class="link-file"
      href="http://www.fps.gov.co/corporativo/entidades-que-nos-regulan/45"
      target="_blank"
      >Instancias a las que puede acudir el usuario cuando considere incumplido
      el Plan de Beneficios y no obtenga respuesta a través de los canales de
      contacto dispuestos por el FPSFNC.</a
    >
  </p>

  <div ngbAccordion>
    <div
      ngbAccordionItem
      [collapsed]="true"
      *ngFor="let canal of canales; let i = index"
    >
      <div ngbAccordionHeader>
        <button ngbAccordionButton>
          {{ canal.section }}
        </button>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div
              *ngFor="let department of canal.departments; let i = index"
              class="mt-3"
            >
              <h4 class="titulo-h4">
                {{ department.name }}
              </h4>
              <div
                *ngFor="let place of department.places; let i = index"
                class="mt-3"
              >
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>
                        <b>{{ place.city }}</b>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ place.name }}</td>
                    </tr>
                    <tr>
                      <td><b>Dirección: </b>{{ place.address }}</td>
                    </tr>
                    <tr>
                      <td><b>Teléfono: </b>{{ place.phone }}</td>
                    </tr>
                    <tr>
                      <td><b>Horario de Atención: </b>{{ place.hours }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>

          <!-- <ng-template>
            <div *ngIf="documento.subdepartment.length" class="mb-3">
              <div
                *ngFor="let accordion of documento.subaccordion; let i = index"
                class="mt-3"
              >
                <h4 class="titulo-h4">
                  <span>{{ i + 1 }}</span>
                  {{ accordion.title }}
                </h4>
                <div
                  *ngFor="let file of accordion.files; let i = index"
                  class="ms-3"
                >
                  <a class="link-file" href="{{ file?.href }}" target="_blank"
                    ><i class="bi bi-file-earmark-{{ file?.tipo }}-fill"></i
                    >{{ file?.name }}</a
                  >
                </div>
              </div>
            </div>

            <div *ngFor="let file of documento.files; let i = index">
              <a class="link-file" href="{{ file.href }}" target="_blank"
                ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
                >{{ file.name }}</a
              >
            </div>
          </ng-template> -->
        </div>
      </div>
    </div>
  </div>
</div>
