<h1 class="titulo-h1">RUTA DE ATENCIÓN INTEGRAL CÁNCER</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>

<li>Atención integral por Medico Familiar o Medico General.</li>
<li>
  Tamizaje para Cáncer de Cuello uterino ( Citología Cérvico Uterina 25 años a
  los 65 años o ADH VPH 30 amos a los 65 años.
</li>
<li>
  Tamizaje para Cáncer de mama (Autoexamen de Seno a partir de los 40 años-
  Mamografía Bianual a partir de los 50 años).
</li>
<li>
  Tamizaje para Cáncer de Próstata ( PSA cada + Examen Clínico 5 años a partir
  de los 50 años).
</li>
<li>
  Tamizaje para Cáncer Colon (Sangre Oculta cada 2 años a partir de los 50
  años).
</li>
<li>Vacunación VPH según Programa Ampliado de inmunización PAI.</li>

<h3 class="titulo-h3 mt-4">CONTROLES EN PACIENTES DIÁGNOSTICADOS CON CÁNCER</h3>
<p>Estos serán acordados con Oncólogo de acuerdo a cada paciente.</p>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>

<li>Valoración por Psicología.</li>
<li>Valoración por Psiquiatría ( según el Caso).</li>
<li>Valoración Por Nutrición (Según el caso).</li>
<li>Valoración Por Trabajo Social.</li>
<li>Valoración por Rehabilitación y/o terapia física (Según el Caso).</li>
<li>Valoración y seguimiento Por cuidado Paliativos.</li>

<p class="mt-4">
  <em
    >Recuerda que el tratamiento será acordado con el profesional tratante según
    el tipo de Cáncer diagnosticado.</em
  >
</p>
