<h1 class="titulo-h1">AFILIADOS</h1>

<div class="row gap-3  mb-4">

  <div class="btn-icono m-4">
    <a href="#">
      <i class="fa-regular fa-id-card"></i>
      Carta de derechos y deberesde la persona afiliada y el paciente
    </a>
  </div>
  <div class="btn-icono m-4">
    <a href="/informacion-al-ciudadano/guias/195">
      <i class="fa-regular fa-user"></i>
      Guía de orientación al ciudadano
    </a>
  </div>

</div>
<h3 class="titulo-h3">¿Cuáles servicios están incluidos en el plan de beneficios?</h3>

<div class="row gap-3  mb-4">

  <div class="btn-icono m-4">
    <a href="/servicios-de-salud/afiliados/256">
      <i class="fa-regular fa-id-card"></i>
      Servicios incluidos en el plan de beneficios
    </a>
  </div>
  <div class="btn-icono m-4">
    <a href="/servicios-de-salud/afiliados/257">
      <i class="fa-regular fa-user"></i>
      Servicios excluidos en el plan de beneficios
    </a>
  </div>

</div>

<h3 class="titulo-h3">AFILIADOS Y NOVEDADES</h3>

<p>La siguiente información corresponde al trimestre de abril a junio de 2024</p>
<table class="table mb-4" style="text-align: center;">
  <thead>
    <tr>
      <th scope="col" class="thead-blue" >MES</th>
      <th scope="col" class="thead-blue">AFILIADOS EAS027</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >
        Abril 2024</td>
      <td >
        30.622</td>
    </tr>
    <tr>
      <td >
        Mayo 2024</td>
      <td >
        30.532</td>
    </tr>
    <tr>
      <td >
        Junio 2024</td>
      <td >
        30.416</td>
    </tr>
  </tbody>
</table>

<table class="table mb-4">
  <thead>
    <tr>
      <tr>
        <th scope="col" class="thead-blue">
          NOVEDAD</th>
        <th scope="col" class="thead-blue" style="text-align: center;">
          ABRIL 2024</th>
        <th scope="col" class="thead-blue" style="text-align: center;">
          MAYO 2024</th>
        <th scope="col" class="thead-blue" style="text-align: center;">
          JUNIO 2024</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td >
        Ingresos</td>
      <td style="text-align: center;">
        12</td>
      <td style="text-align: center;">
        21</td>
      <td style="text-align: center;">
        28</td>
    </tr>
    <tr>
      <td >
        Renovaciones</td>
      <td style="text-align: center;">
        0</td>
      <td style="text-align: center;">
        1</td>
      <td style="text-align: center;">
        3</td>
    </tr>
    <tr>
      <td >
        Reingresos</td>
      <td style="text-align: center;">
        21</td>
      <td style="text-align: center;">
        11</td>
      <td style="text-align: center;">
        12</td>
    </tr>
    <tr>
      <td >
        Cambio de documento</td>
      <td style="text-align: center;">
        5</td>
      <td style="text-align: center;">
        2</td>
      <td style="text-align: center;">
        4</td>
    </tr>
    <tr>
      <td >
        Cambio de datos</td>
      <td style="text-align: center;">
        5</td>
      <td style="text-align: center;">
        7</td>
      <td style="text-align: center;">
        9</td>
    </tr>
    <tr>
      <td >
        Traslado misma divisi&oacute;n</td>
      <td style="text-align: center;">
        43</td>
      <td style="text-align: center;">
        25</td>
      <td style="text-align: center;">
        27</td>
    </tr>
    <tr>
      <td >
        Traslado divisi&oacute;n</td>
      <td style="text-align: center;">
        8</td>
      <td style="text-align: center;" >
        30</td>
      <td style="text-align: center;">
        16</td>
    </tr>
    <tr>
      <td >
        Traslados EPS</td>
      <td style="text-align: center;">
        41</td>
      <td style="text-align: center;">
        49</td>
      <td style="text-align: center;">
        35</td>
    </tr>
    <tr>
      <td>
        Desafiliaciones</td>
      <td style="text-align: center;">
        14</td>
      <td style="text-align: center;">
        23</td>
      <td style="text-align: center;">
        22</td>
    </tr>
    <tr>
      <td>
        Retiro Fallecidos</td>
      <td style="text-align: center;">
        84</td>
      <td style="text-align: center;">
        86</td>
      <td style="text-align: center;">
        96</td>
    </tr>
    <tr>
      <td>
        P&eacute;rdida de carnet</td>
      <td style="text-align: center;">
        0</td>
      <td style="text-align: center;">
        0</td>
      <td style="text-align: center;">
        1</td>
    </tr>
    <tr>
      <td>
        Cambio tipo de afiliado</td>
      <td style="text-align: center;">
        6</td>
      <td style="text-align: center;">
        5</td>
      <td style="text-align: center;">
        5</td>
    </tr>
    <tr>
      <td>
        TOTAL</td>
      <td style="text-align: center;">
        239</td>
      <td style="text-align: center;">
        260</td>
      <td style="text-align: center;">
        258</td>
    </tr>
  </tbody>
</table>


<p style="text-align: justify;">
En todos los casos en que le sean ordenados
servicios que no se encuentren expresamente
incluidos o que estén claramente definidos
en las exclusiones del plan de beneficios a
que tiene derecho el usuario, el contratista
deberá realizar la negación de servicios de salud
establecido en la normatividad vigente.
</p>
<p style="text-align: justify;">
Tenga presente que cuando se acerque a
solicitar un servicio de salud ordenado por
un médico de la red de prestadores establecida y
el servicio no se encuentre incluido o esté excluido del
plan de beneficios, el Coordinador Local deberá informarle verbalmente
a usted o a su acudiente en forma clara las razones por las cuales
no tiene derecho a acceder al servicio de salud o medicamento solicitado
y deberá entregarle el Formato de <strong>Negación de Servicios de Salud</strong> y /o Medicamentos
 establecido en la Circular Única de la Supersalud.
</p>
<p style="text-align: justify;">
De igual manera, el Coordinador Local deberá informarle las alternativas de que
dispone para acceder al servicio, incluyendo la evaluación del ordenamiento por parte del MIPRES.

</p>

