<h1 class="titulo-h1">AFILIADOS</h1>

<div class="row d-block justify-items-center mb-4">
  <a
    class="btn-comun mb-3"
    href="assets/files/CARTA DE DERECHOS Y DEBERES DE LA PERSONA AFILIADA Y DEL PACIENTE EN EL SISTEMA GENERAL DE SEGURIDAD SOCIAL EN SALUD Y DE LA CARTA DE DESEMPEÑO DE LAS ENTIDADES PROMOTORAS DE SALUD.pdf"
    target="_blank"
    type="button"
  >
    <i class="fa-regular fa-id-card"></i> Carta de derechos y deberes de la
    persona afiliada y el paciente
  </a>
  <a class="btn-comun" href="/informacion-al-ciudadano/guias/195" type="button">
    <i class="fa-regular fa-user"></i> Guía de orientación al ciudadano
  </a>
</div>
<h3 class="titulo-h3">
  ¿Cuáles servicios están incluidos en el plan de beneficios?
</h3>
<div class="row d-block justify-items-center mb-4">
  <a
    class="btn-comun mb-3"
    href="/servicios-de-salud/afiliados/256"
    target="_blank"
    type="button"
  >
    <i class="fa-solid fa-table-list"></i> Servicios incluidos en el plan de
    beneficios
  </a>
  <a class="btn-comun" href="/servicios-de-salud/afiliados/257" type="button">
    <i class="fa-solid fa-list-check"></i> Servicios excluidos en el plan de
    beneficios
  </a>
</div>

<h3 class="titulo-h3">AFILIADOS Y NOVEDADES</h3>

<p>
  La siguiente información corresponde al trimestre de octubre a diciembre de
  2024
</p>
<table class="table mb-4" style="text-align: center">
  <thead>
    <tr>
      <th scope="col" class="thead-blue">MES</th>
      <th scope="col" class="thead-blue">AFILIADOS EAS027</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Octubre 2024</td>
      <td>29.956</td>
    </tr>
    <tr>
      <td>Noviembre 2024</td>
      <td>29.888</td>
    </tr>
    <tr>
      <td>Diciembre 2024</td>
      <td>29.781</td>
    </tr>
  </tbody>
</table>

<table class="table mb-4">
  <thead>
    <tr></tr>
    <tr>
      <th scope="col" class="thead-blue">NOVEDAD</th>
      <th scope="col" class="thead-blue" style="text-align: center">
        OCTUBRE 2024
      </th>
      <th scope="col" class="thead-blue" style="text-align: center">
        NOVIEMBRE 2024
      </th>
      <th scope="col" class="thead-blue" style="text-align: center">
        DICIEMBRE 2024
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ingresos</td>
      <td style="text-align: center">26</td>
      <td style="text-align: center">15</td>
      <td style="text-align: center">5</td>
    </tr>
    <tr>
      <td>Renovaciones</td>
      <td style="text-align: center">4</td>
      <td style="text-align: center">4</td>
      <td style="text-align: center">5</td>
    </tr>
    <tr>
      <td>Reingresos</td>
      <td style="text-align: center">12</td>
      <td style="text-align: center">11</td>
      <td style="text-align: center">6</td>
    </tr>
    <tr>
      <td>Cambio de documento</td>
      <td style="text-align: center">13</td>
      <td style="text-align: center">15</td>
      <td style="text-align: center">22</td>
    </tr>
    <tr>
      <td>Cambio de datos</td>
      <td style="text-align: center">7</td>
      <td style="text-align: center">7</td>
      <td style="text-align: center">11</td>
    </tr>
    <tr>
      <td>Traslado misma divisi&oacute;n</td>
      <td style="text-align: center">32</td>
      <td style="text-align: center">13</td>
      <td style="text-align: center">31</td>
    </tr>
    <tr>
      <td>Traslado divisi&oacute;n</td>
      <td style="text-align: center">24</td>
      <td style="text-align: center">22</td>
      <td style="text-align: center">20</td>
    </tr>
    <tr>
      <td>Traslados EPS</td>
      <td style="text-align: center">37</td>
      <td style="text-align: center">69</td>
      <td style="text-align: center">12</td>
    </tr>
    <tr>
      <td>Desafiliaciones</td>
      <td style="text-align: center">19</td>
      <td style="text-align: center">10</td>
      <td style="text-align: center">22</td>
    </tr>
    <tr>
      <td>Retiro Fallecidos</td>
      <td style="text-align: center">78</td>
      <td style="text-align: center">76</td>
      <td style="text-align: center">94</td>
    </tr>
    <tr>
      <td>Cambio tipo de afiliado</td>
      <td style="text-align: center">5</td>
      <td style="text-align: center">1</td>
      <td style="text-align: center">8</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td style="text-align: center">257</td>
      <td style="text-align: center">246</td>
      <td style="text-align: center">236</td>
    </tr>
  </tbody>
</table>

<p style="text-align: justify">
  En todos los casos en que le sean ordenados servicios que no se encuentren
  expresamente incluidos o que estén claramente definidos en las exclusiones del
  plan de beneficios a que tiene derecho el usuario, el contratista deberá
  realizar la negación de servicios de salud establecido en la normatividad
  vigente.
</p>
<p style="text-align: justify">
  Tenga presente que cuando se acerque a solicitar un servicio de salud ordenado
  por un médico de la red de prestadores establecida y el servicio no se
  encuentre incluido o esté excluido del plan de beneficios, el Coordinador
  Local deberá informarle verbalmente a usted o a su acudiente en forma clara
  las razones por las cuales no tiene derecho a acceder al servicio de salud o
  medicamento solicitado y deberá entregarle el Formato de
  <strong>Negación de Servicios de Salud</strong> y /o Medicamentos establecido
  en la Circular Única de la Supersalud.
</p>
<p style="text-align: justify">
  De igual manera, el Coordinador Local deberá informarle las alternativas de
  que dispone para acceder al servicio, incluyendo la evaluación del
  ordenamiento por parte del MIPRES.
</p>
