<h1 class="titulo-h1">INFORMACIÓN GENERAL</h1>

<p>
  El Fondo de Pasivo Social de Ferrocarriles Nacionales de Colombia, es un
  establecimiento público vinculado al Ministerio de Trabajo y Seguridad Social
  que fue creado por el Estado para asumir las consecuencias laborales de un
  siglo de operación ferroviaria Nacional.
</p>
<p>
  Tal vez, la normalidad de su accionar en procura del cumplimiento de sus
  objetivos principalísimos, no lo haya colocado en lugar de protagonismo que no
  concordaría con sus condiciones de discreción, desempeño austero y silencioso,
  donde sólo importa el cumplimiento de su misión, llenando de satisfacción a
  los destinatarios de sus servicios, que inicialmente fueron los exempleados de
  esa gran empresa estatal que marcó el desarrollo del país, pero además ha
  cumplido con Colombia, porque ha sabido administrar los recursos públicos con
  honestidad y transparencia, ganándose la confianza de varios gobiernos que le
  han entregado nuevas obligaciones y no precisamente, de aquellas sencillas, si
  no de las que requieren delicada labor.
</p>
<p>
  Así fue como asumió la administración de los servicios asistenciales que se
  prestan a los pensionados de la empresa Puertos de Colombia y sus familias,
  que hoy puede presentarse como ejemplo de pulcritud, calidad, responsabilidad
  y disciplina de los usuarios.
</p>
<p>
  Adicionalmente, el Fondo ha desarrollado mecanismos de control para los
  programas de Ferrocarriles Nacionales y Puertos de Colombia, que involucran
  directamente a los usuarios del servicio, desarrollando un verdadero programa
  de participación ciudadana, pues nuestros afiliados integran los Comités de
  Veeduría en cada punto de atención y además hacen parte de los Comités de
  Evaluación locales, regionales y nacionales, siendo esta entidad la única en
  el país que de esta manera tiene permanente control y evaluación por parte de
  los pensionados, que han permitido los magníficos resultados que se conocen.
</p>
<p>
  Igualmente, el Fondo ha administrado con delicadeza los bienes recibidos de la
  liquidación de los Ferrocarriles Nacionales, atendiendo para tal fin las
  políticas nacionales de transporte férreo, en cuanto tiene que ver con el
  equipo del cual es propietario, sin que al respecto se haya presentado nunca
  un juicio de reproche .
</p>
<p>
  En materia de seguridad, hemos extremado todos los controles posibles para
  evitar que la entidad sea permeable a los fenómenos de corrupción que tanto
  daño hacen a la administración y hemos tenido en cuenta la elaboración del
  Mapa de Riesgos de la institución. No es extraño que el Fondo pueda presentar
  los resultados que ha mostrado en todos los órdenes, porque es una entidad en
  la que se ha practicado un adecuado manejo de personal, ausente de intereses
  distintos a la idoneidad de los funcionarios a cuya estabilidad se debe en
  gran medida el éxito institucional alcanzado, pues se ha aprovechado al máximo
  la experiencia, la memoria institucional y la continuidad de acciones,
  fundadas en el compromiso, la cultura de servicio, el conocimiento y un
  indeclinable propósito de servir.
</p>
<p>
  Su organización administrativa ha sido la requerida y se ha modernizado
  permanentemente con criterio técnico para mantenerlo a la altura de sus
  responsabilidades. Tecnológicamente no se ha ahorrado ningún esfuerzo para
  dotarlo de equipos y programas que hacen de él una de las entidades públicas
  más sistematizadas en todas sus áreas, lo cual no sólo representa un valioso
  patrimonio del Estado, sino que lo ubica como una de las pocas instituciones
  capaces de asumir nuevos compromisos dentro de la organización del Estado, en
  la que se requiere de su experiencia y especialización en la administración de
  prestaciones originadas en regímenes especiales.
</p>
<p>
  No es pues la entidad que se ha limitado exclusivamente al fin que le dio vida
  jurídica, sino que con el tiempo ha asumido y está en capacidad de asumir
  nuevos retos, con la seguridad de poder cumplir bien con unos costos
  administrativos extremadamente bajos. No creemos que exista otro ente público
  que pueda cumplir funciones análogas con los costos que históricamente ha
  manejado el Fondo sin superar el 1.42% de sus presupuestos.
</p>
<p>
  Los pensionados de Ferrocarriles Nacionales que son la razón de ser de esta
  entidad y posteriormente los pensionados de Puertos de Colombia, han
  consolidado una verdadera familia con el mayor sentido de permanencia y con
  una participación constante en todas las actividades administrativas del
  Fondo, lo cual los hace merecedores al máximo reconocimiento, pues sin su
  apoyo habría sido imposible alcanzar las metas que hemos logrado. Su actitud
  comprometerá siempre nuestro afecto y nuestro reconocimiento.
</p>
