<h1 class="titulo-h1 mb-4">POLÍTICA DEL SISTEMA INTEGRADO DE GESTIÓN</h1>
<P class="mb-4">
  El Fondo de Pasivo Social de los Ferrocarriles Nacionales de Colombia (FPS-FNC) decidacado a reconocer prestaciones económicas legales y convencionales a los extrabajadores, pensionado y beneficiarios de los extintos Ferrocarriles Nacionales de Colombia; así como a administrar los servicios de salud a los pensionados de los extintos Ferrocarriles Nacionales de Colombia y Puertos de Colombia.
<br/>
  Se compromete a:
</P>
<ul class="lista-general mb-4">

  <li>
    Gestionar todos los riesgos y oportunidades del Sistema Integrado de Gestión (SIG-MIPG).
    Controlando y eliminando los peligros identificados y reduciendo los riesgos
    de la Seguridad y Salud en el Trabajo, generando medidas de intervención para
    el beneficio de todos los colaboradores de la entidad.
  </li>
  <li>
    Proteger el medio ambiente y prevenir la contaminación identificando, controlando,
    y/o eliminando los impactos ambientales negativos generados en el desempeño de nuestras
    actividades por consumo de recursos naturales y generación de residuos.</li>
  <li>
    Conservar y asegurar el bienestar y promoción de la salud a todos sus colaboradores a
    través de la implementación del Subsistema de Gestión de la Seguridad y Salud en el
    Trabajo en el desarrollo de actividades de promoción y prevención de lesiones y el deterioro
    de la salud, con el fin de minimizar las enfermedades laborales y evitar los accidentes de
    trabajo, promoviendo la consulta y participación de los trabajadores..</li>
  <li>
    Proteger, conservar y asegurar los activos de información basados en una metodología de
    riesgos con el objeto de minimizar el nivel de exposición frente a amenzas internas o
    externas, que permita responder por la integridad, confidencialidad y la disponibilidad de la misma.</li>
  <li>
    Diseñar e implementar los mecanismos y herramientas para la gestión de los documentos
    internos y externos necesarios para el cumplimiento de la misión y visión institucional,
    con el fin de garantizar la integridad, autenticidad, veracidad y seguridad del manejo de
    toda la información institucional dirigida a la implementación de los instrumentos archivísticos
     y puestos a disposición de la ciudadanía, funcionarios y contratistas del FPS-FNC.</li>
  <li>
    Cumpliendo los requisitos de nuestros grupos de valor, legales y técnicos aplicables de
    la entidad, en el marco de la mejora continua de los procesos a través de la implementación de herramientas de gestión.</li>
</ul>

<a
  class="link-file mb-4"    href="\assets\files\corporativo\politicasig\Diseño PDF Polìtica del SIG_compressed(1).pdf"
  target="_blank"
  >
   <i class="bi bi-file-earmark-pdf-fill"></i>
  POLITICA SIG
</a>
<!--<h2 class="titulo-h2 mb-4">MAPA DE PROCESOS</h2>

<img src="\assets\img\entidad\politicasig\MAPA DE PROCESOS FPS.jpg" class="img-fluid" alt="mapa de procesos">-->


