<h1 class="titulo-h1">
  RUTA DE ATENCIÓN INTEGRAL A VICTIMAS DE VIOLENCIA, AGRESIONES O TRAUMAS
</h1>

<h3 class="titulo-h3 mt-4">ATENCIÓN PRIMARIA</h3>
<ul class="lista-general">
  <li>Valoración Integral por medico Familiar o Medico general.</li>
  <li>Tamizaje APGAR FAMILIAR (Anual).</li>
</ul>

<h3 class="titulo-h3 mt-4">CONTROLES EN PACIENTES DIÁGNOSTICADOS CON CÁNCER</h3>
<p>
  Si usted sufre de algun tipo de violencia, agresión o trauma sus controles se
  realizaran de acuerdo a la indicación del profesional tratante.
</p>

<h3 class="titulo-h3 mt-4">VALORACIÓN POR EQUIPO MULTIDISCIPLINARIO</h3>

<p>
  Según el tipo de violencia que usted allá sufrido, el profesional de salud que
  lo atienda lo direccionara para la asignación y seguimiento a las consultas
  establecidas para cada tipo de violencia.
</p>

<p class="mt-4">
  <em
    >Recuerda que el tratamiento puedes ser farmacológico o NO farmacológico y
    este será acordado con el profesional tratante según su Diagnostico.
  </em>
</p>
