<h1 class="titulo-h1">PLANEACIÓN Y/O PRESUPUESTO PARTICIPA</h1>

<p>
  La entidad ha dispuesto los siguientes componentes de comunicación, donde
  puedes encontrar lo referente a la participación ciudadana del Fondo de Pasivo
  Social Ferracorriles Nacionales de Colombia.
</p>

<section class="mb-4">
  <a
    class="link-file"
    href="/assets/files/participa/AVANCE PLAN SISTEMA INTEGRADO DE GESTION - MIPG 2023.pdf"
    target="_blank"
    ><i class="bi bi-file-earmark-pdf-fill"></i>Avance de plan de sistema
    integrado de gestion -MIPG 2023</a
  >
</section>

<div class="row">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn01.png" alt="" />
    <div>
      <h5 class="text-white">
        Encuesta sobre las prioridades en los planes institucionales del FPS-FNC
        2023-2026
      </h5>
      <a
        class="btn-azul-o"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeNXmCuKmmzUYlIXdn1GuJeN9OcymkmpfA-4FGkC_VaibOnVg/viewform"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn02.png" alt="" />
    <div>
      <h5 class="text-white">Plan de Acción</h5>
      <a
        class="btn-azul-o"
        href="/planeacion-gestion-y-control/plan-de-accion/64"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn03.png" alt="" />
    <div>
      <h5 class="text-white">Plan Estratégico</h5>
      <a
        class="btn-azul-o"
        href="/planeacion-gestion-y-control/plan-estrategico/63"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn04.png" alt="" />
    <div>
      <h5 class="text-white">Plan Anticorrupción</h5>
      <a
        class="btn-azul-o"
        href="/planeacion-gestion-y-control/plan-de-anticorrupcion-y-atencion-al-ciudadano/74"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn05.png" alt="" />
    <div>
      <h5 class="text-white">Información Financiera</h5>
      <a class="btn-azul-o" href="/informacion-financiera/89">
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn06.png" alt="" />
    <div>
      <h5 class="text-white">Plan Anual de Adquisiciones</h5>
      <a
        class="btn-azul-o"
        href="/planeacion-gestion-y-control/plan-anual-de-adquisiciones/198"
      >
        <i class="bi bi-search"></i>
      Consultar aquí
      </a>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/PARTICIPA.jpg" alt="" />
    <div>
      <h5 class="text-white">Programa De Transparencia Y Ética Pública - PETP</h5>
      <a
        class="btn-azul-o"
        href="https://www.fps.gov.co/planeacion-gestion-y-control/transparencia-etica-publica/357"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
</div>

<br />
<section>
  <h3 class="titulo-h3 mt-4">
    <span class="icon govco-server"></span>Listado de documentos
  </h3>
  <div ngbAccordion>
    <div
      ngbAccordionItem
      [collapsed]="true"
      *ngFor="let item of items; let i = index"
    >
      <div ngbAccordionHeader>
        <button ngbAccordionButton>
          <span>{{ i + 1 }}</span
          >{{ item.nombre }}
        </button>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <a
              *ngFor="let file of item.files"
              class="link-file"
              href="{{ file.url }}"
              target="_blank"
              ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
              >{{ file.nombre }}</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
