<h1 class="titulo-h1">PLANEACIÓN Y/O PRESUPUESTO PARTICIPA</h1>

<p>
  La entidad ha dispuesto los siguientes componentes de comunicación, donde
  puedes encontrar lo referente a la participación ciudadana del Fondo de Pasivo
  Social Ferracorriles Nacionales de Colombia.
</p>

<section class="mt-4 mb-4">
  <a
    class="btn-comun mb-4"
    type="button"
    href="assets/files/participa/AVANCE PLAN SISTEMA INTEGRADO DE GESTION - MIPG 2023.pdf"
  >
    <span class="icon icon-documento"></span>
    AVANCE PLAN DE SISTEMA INTEGRADO DE GESTIÓN - MIPG 2023
  </a>
</section>

<div>
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">
            Encuesta sobre las prioridades en los planes institucionales del
            FPS-FNC 2023-2026
          </h5>
          <br />
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeNXmCuKmmzUYlIXdn1GuJeN9OcymkmpfA-4FGkC_VaibOnVg/viewform"
          >
            <h6 style="text-align: center; color: white">
              <span class="icon search"></span>Consultar aquí
            </h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 200px"
            src="assets/img/participa/encuesta.png"
          />
        </td>
      </tr>
    </thead>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">Plan de Acción</h5>
          <br />
          <a href="planeacion-gestion-y-control/plan-de-accion/64">
            <h6 style="text-align: center; color: white">
              <span class="govco-search"></span>Consultar aquí
            </h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 170px"
            src="assets/img/participa/plan_de_accion.jpg"
          />
        </td>
      </tr>
    </thead>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">Plan Estratégico</h5>
          <br />
          <a href="planeacion-gestion-y-control/plan-estrategico/63">
            <h6 style="text-align: center; color: white">Consultar aquí</h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 170px"
            src="assets/img/participa/plan_de_accion.jpg"
          />
        </td>
      </tr>
    </thead>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">Plan Anticorrupción</h5>
          <br />
          <a
            href="planeacion-gestion-y-control/plan-de-anticorrupcion-y-atencion-al-ciudadano/74"
          >
            <h6 style="text-align: center; color: white">Consultar aquí</h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 170px"
            src="assets/img/participa/plan_de_accion.jpg"
          />
        </td>
      </tr>
    </thead>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">
            Información Financiera
          </h5>
          <br />
          <a href="informacion-financiera/89">
            <h6 style="text-align: center; color: white">Consultar aquí</h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 170px"
            src="assets/img/participa/informacion_financiera.jpg"
          />
        </td>
      </tr>
    </thead>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td colspan="2" style="height: 10px; background-color: #e2b321"></td>
      </tr>
      <tr>
        <td style="width: 35%; background-color: #183c6e">
          <h5 style="text-align: center; color: white">
            Plan Anual de Adquisiciones
          </h5>
          <br />
          <a
            href="planeacion-gestion-y-control/plan-anual-de-adquisiciones/198"
          >
            <h6 style="text-align: center; color: white">Consultar aquí</h6>
          </a>
        </td>
        <td style="width: 75%">
          <img
            alt="Encuesta sobre las prioridades en los planes institucionales del FPS-FNC 2023-2026"
            style="width: 100%; height: 170px"
            src="assets/img/participa/plan_anual.jpg"
          />
        </td>
      </tr>
    </thead>
  </table>
</div>
<br />
<section>
  <h3 class="titulo-h3 mt-4">
    <span class="icon govco-server"></span>Listado de documentos
  </h3>
  <div ngbAccordion>
    <div
      ngbAccordionItem
      [collapsed]="true"
      *ngFor="let item of items; let i = index"
    >
      <div ngbAccordionHeader>
        <button ngbAccordionButton>
          <span>{{ i + 1 }}</span
          >{{ item.nombre }}
        </button>
      </div>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <a
              *ngFor="let file of item.files"
              class="link-file"
              href="{{ file.url }}"
              target="_blank"
              ><i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i
              >{{ file.nombre }}</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
