<div class="container p-0">
  <h1 class="titleSection"><span class="pe-2">Noticias </span></h1>
  <div class="rowContainer">
    @for (news of newsC; track news.id) { @if (news.id <= 3 ){
    <div class="col-lg-4 m4-">
      <div class="card m-4">
        <img src="{{ news.urlImage }}" class="card-img-top" />
        <div class="card-body">
          <p class="card-text text-white">
            {{ news.date }}<br />
            <b>{{ news.info }}</b>
          </p>
        </div>
        <div class="card-footer border-0 py-3">
          <a href="#" class="btn-amarillo">Leer noticia completa</a>
        </div>
      </div>
    </div>

    } }
  </div>
  <div class="d-flex justify-content-center mb-5">
    <button class="btn-comun" type="button">VER MÁS NOTICIAS</button>
  </div>
</div>
