
.rowContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 2%;
  justify-content: center;
  .card {
    background-color:var(--azul-t);
    border-radius: 0%;
    width: 20rem;
    margin: 2rem;
    .card-footer{
      background: none;
      background-color:var(--azul-t);
    }
   }
   a {
    text-decoration: none;
   }
}


h1 {
  text-align: start;
  position:relative;
  color: var(--azul-t);
}
h1 span {
background:#fff;
z-index:1;
position:relative;
}
h1::after  {
  content: '';
  position: absolute;
  width:100%;
  height:0.2rem;
  left:0px;
  top:2rem;
  background:var(--azul-t);
  z-index:0;
}
.titleSection{
  color: var(--azul-t);
}
.textColor {
  color:var(--azul-o);
  font-family: "WorkSans-Bold";
  font-size: 1.3rem;
}
P {
  font-size: 0.9rem;
}
