<h1 class="titulo-h1">RENDICIÓN DE CUENTAS</h1>
<p>
  Para dar cumplimiento a la normatividad vigente, el Fondo Pasivo Social
  publica las conclusiones de las audiencias de rendición de cuentas, así como
  los informes y las correspondientes invitaciones a la ciudadanía en general.
</p>
<a
  class="link-file"
  href="/assets/files/resoluciones/ESDESOPSES01 ESTRATEGIA RENDICIÓN DE CUENTAS 2023 2026 V1.pdf"
  target="_blank"
  ><i class="bi bi-file-earmark-pdf-fill"></i>Estrategia de Rendición de Cuentas
  del FPS</a
>
<div class="row mb-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6 cuadro-imagen">
    <img src="/assets/img/links/btn05.png" alt="" />
    <div>
      <h5 class="text-white">Pagos IPS y proveedores de salud</h5>
      <a
        class="btn-azul-o"
        target="_blank"
        href="/tramites-y-servicios/tramites/54"
      >
        <i class="bi bi-search"></i>
        Consultar aquí
      </a>
    </div>
  </div>
</div>
<h3 class="titulo-h3">
  <span class="icon govco-server"></span>Listado de documentos
</h3>
<div ngbAccordion>
  <div
    ngbAccordionItem
    [collapsed]="true"
    *ngFor="let item of items; let i = index"
  >
    <div ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>{{ i + 1 }}</span
        >{{ item.nombre }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div *ngFor="let acordion of item.acordion; let i = index">
            <h4 class="titulo-h4">
              <span>{{ i + 1 }}</span>
              {{ acordion.nombre }}
            </h4>
            <div class="mb-3">
              <a
                class="link-file"
                *ngFor="let file of acordion.files"
                href="{{ file.url }}"
                target="_blank"
              >
                <i class="bi bi-file-earmark-{{ file.tipo }}-fill"></i>
                {{ file.nombre }}
              </a>
            </div>
          </div>
          <a
            *ngFor="let file of item.files"
            class="link-file"
            href="{{ file.url }}"
            target="_blank"
            ><i
              [class]="
                'bi bi-' +
                (file.tipo == 'youtube'
                  ? file.tipo
                  : 'file-earmark-' + file.tipo + '-fill')
              "
            ></i
            >{{ file.nombre }}</a
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>
