<div>
  <h1 class="titulo-h1">ENCUESTA DE SATISFACCIÓN</h1>

  <p class="mb-3 mt-3">
    Al hacer click en el boton "Siguiente" manifiesto que conozco,
    <a
      href="https://www.fps.gov.co/autorizacion_y_tratamiento_de_uso_de_datos_personales"
      target="_blank"
      >acepto y autorizo el tratamiento de uso de datos personales</a
    >
  </p>
  <div class="row">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdEi2UmkPXM2khBrN9_DwrWVTLmY8aFtGZUb745UCFEArXwCg/formResponse?embedded=true"
      height="1500"
    ></iframe>
  </div>
</div>
