<h1 class="titulo-h1">DIRECTORIO DE ENTIDADES</h1>
<h5 class="titulo-h5 pt-3 mb-4">
  <span>
    <i class="fa-solid fa-building"></i>
    EMPRESAS SOCIALES
  </span>
</h5>
<div class="row mb-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.dermatologia.gov.co/"
      target="_blank"
    >
      <div class="row">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/Nuevo Logo CDFLLA COLOR-01.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Centro Dermatologico Federico Lleras Acosta</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.cancer.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/logo_INC.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Instituto Nacional de Cancerología</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.sanatorioaguadedios.gov.co/"
      target="_blank"
    >
      <div class="row">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/agua de dios.jpg"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Sanatorio Agua de Dios</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://sanatoriocontratacion.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/sanatorio de contratación.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Sanatorio de Contratación</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<h5 class="titulo-h5 pt-3 mb-4">
  <span>
    <i class="fa-solid fa-building-columns"></i>
    ESTABLECIMIENTOS PÚBLICOS
  </span>
</h5>

<div class="row mb-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.adres.gov.co/"
      target="_blank"
    >
      <div class="row">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/ADRES ALFA.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>ADRES</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.fonprecon.gov.co/"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/fonprecon.jpg"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label
              >Fondo de Previsión Social del Congreso de la República</label
            >
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.invima.gov.co/"
      target="_blank"
    >
      <div class="row">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/invima.png"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label class="fs-6">INVIMA</label>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
    <a
      class="col-12 cuadro-logos"
      href="https://www.ins.gov.co/Paginas/Inicio.aspx"
      target="_blank"
    >
      <div class="row m-0">
        <div class="col-5 imagen">
          <img
            class="imagen-horizontal"
            src="/assets/img/logos/INS.svg"
            alt=""
          />
        </div>
        <div class="col-7 nombre">
          <div>
            <label>Instituto Nacional de Salud</label>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
